[2019-02-10 22:18] Mark-Simulacrum opened #1 "command testing"

[2019-02-10 22:33] Mark-Simulacrum commented on #1
label: -T-libs

[2019-02-10 22:40] Mark-Simulacrum commented on #1
label: +bug -duplicate question

[2019-02-10 22:41] Mark-Simulacrum commented on #1
label: foobar

[2019-02-10 22:52] Mark-Simulacrum commented on #1
label: foobar

[2019-02-11 13:31] Mark-Simulacrum commented on #1
/assign @foreign-rust-tester

[2019-02-11 13:41] Mark-Simulacrum commented on #1
/claim

[2019-02-11 21:34] foreign-rust-tester commented on #1
/claim

[2019-02-13 22:46] Centril opened #2 "Having a way to inform the bot to auto close in a set number of days"
E.g. in an issue like https://github.com/rust-lang/rust/issues/58427, I would like to tell the bot to auto-close an issue (potentially conditional on whether new comments are made).

This could look like: `@thebot close 10 days`.

[2019-02-14 00:34] kennytm commented on #2
Sounds like reinventing stalebot.

[2019-02-14 00:35] Centril commented on #2
@kennytm I don't care so much about what the bot is called, just that the functionality exists somehow in a way that isn't too hard to remember. :)

[2019-02-16 18:45] foreign-rust-tester commented on #1
/claim

[2019-02-20 00:10] Mark-Simulacrum commented on #1
@rust-highfive modify labels to +bug -question -wontfix

[2019-02-20 00:11] Mark-Simulacrum commented on #1
@rust-highfive modify labels to -bug, +question, and +wontfix.

[2019-02-20 00:27] Mark-Simulacrum commented on #1
@rust-highfive modify labels -bug, +question, and +wontfix.

[2019-02-20 00:27] rust-highfive commented on #1
**Error**: Parsing label command in [comment](https://github.com/rust-lang/triagebot/issues/1#issuecomment-465368160) failed: ...ify labels|error: must have : or to as label starter at >| -bug, +qu...

Please let **`@rust-lang/release`** know if you're having trouble with this bot.

[2019-02-20 00:39] Mark-Simulacrum commented on #1
@rust-highfive modify labels: -bug, +question, and +wontfix.

[2019-02-20 22:53] pietroalbini opened #3 "Don't automatically add external contributors to the org to assign them"
I'd prefer if we assign the bot itself and post a comment saying that user is assigned.

[2019-02-20 22:54] Mark-Simulacrum opened #4 "Blacklist for label assignment"
Essentially so that we prevent unsound, nominated labels being set by just anyone

[2019-02-20 22:54] Mark-Simulacrum commented on #4
Is the suggestion

[2019-02-22 21:20] Mark-Simulacrum commented on #3
@pietroalbini We recently discussed on Zulip -- do you feel fine with the read-only addition to the organization? I think your concern was centered around granting write access which we'd no longer be doing.

cc @rust-lang/release since we discussed this at the last meeting as well

[2019-02-22 21:32] cuviper commented on #3
Note that any org membership lets you see private [people](https://github.com/orgs/rust-lang/people), where you can otherwise only see those that have chosen to make that status public. It also lets you see the [teams](https://github.com/orgs/rust-lang/teams), which is completely hidden from outsiders.

[2019-02-22 21:49] Mark-Simulacrum commented on #3
My thought was to add them to the specific repository as "outside collaborators" which I *think* might not grant any further rights? Obviously that'll look somewhat ugly in the UI, but maybe not too bad.

[2019-02-22 22:23] pietroalbini commented on #3
I'd still prefer to assign the bot instead of external contributors to avoid the UI issue of showing them as members of the repo, since that gives them some sort of official look when they reply (and that could cause issues if they write something controversial).

Since there should be no security concerns anymore I'm less "opinionated" (spent like 5 minutes looking for the right word lol) about t

[2019-02-22 22:27] Mark-Simulacrum commented on #3
That's a good point. It's also lighter on the implementation burden -- no need to send invites and wait for them to be accepted. Do we want to edit the top-level comment still? I'm personally somewhat hesitant to do so (especially as we essentially must be able to edit our own edits as the assignee changes).

[2019-02-22 22:29] pietroalbini commented on #3
Editing shouldn't be a problem, you can just write the message like:

[code]

And then replace it with a regex.

[2019-02-26 00:13] #4 closed

[2019-02-26 00:15] Mark-Simulacrum commented on #1
@rustbot modify labels: -A-test

[2019-02-26 00:15] Mark-Simulacrum commented on #1
@rustbot modify labels: -A-test.

[2019-02-26 00:18] Mark-Simulacrum commented on #1
@rustbot modify labels: A-test, I-nominated.

[2019-02-26 04:31] kennytm opened #5 "Don't require the final `.` when parsing command"
Currently `@rustbot` expects the final `.` to terminate a `modify labels` command. Leaving out the `.` leads to a cryptic error message like https://github.com/rust-lang/rust/pull/58208#issuecomment-467275105:

The error message should be improved, or even better, treat the end-of-line as another terminator.

[2019-03-17 15:24] pietroalbini commented on #1
@rustbot modify labels: -A-test.

[2019-04-10 11:21] #5 closed

[2019-04-10 11:37] pietroalbini commented on #1
@rustbot modify labels: +A-test

[2019-04-25 21:47] pietroalbini opened #10 "Exclusive labels"
We might want to add the ability to define some label patterns as "exclusive", so that there can only be a single label matching a pattern on an issue.

For example, with `S-*` marked as exclusive a PR with the `S-waiting-on-review` will have `S-blocked` after someone types the command:

[code]

[2019-05-09 13:16] pietroalbini commented on #10
Another thing we might want to make exclusive is `P-*` and `I-nominated`.

@nikomatsakis also wants to consider cases when multiple exclusive labels are needed:

[2019-05-09 13:17] nikomatsakis commented on #10
In the case of I-nominated, things are frequently nominated "for prioritization", in which case you want to clear the label, but other times you want to keep them nominated because there is discussion needed (maybe we want another label for that, though).

[2019-05-11 19:36] Mark-Simulacrum commented on #1
@rustbot claim

[2019-05-11 19:44] Mark-Simulacrum commented on #1
@rustbot claim

[2019-05-11 19:50] Mark-Simulacrum commented on #1
@rustbot claim

[2019-05-12 17:50] Mark-Simulacrum commented on #3
This is described and implemented as of the latest master.

[2019-05-12 17:50] #3 closed

[2019-05-12 17:56] #1 closed

[2019-05-23 20:27] spastorino opened #13 "Unassign issues I was assigned without triagebot"
I wanted to unassigned an issue I was assigned to in the past using `@rustbot release-assignment` but that doesn't work. For more info https://github.com/rust-lang/rust/issues/57431#issuecomment-495320751

[2019-05-24 03:24] spastorino opened #15 "Update assignees list from Issue when removing some assignee"
This was noted by @Mark-Simulacrum in https://github.com/rust-lang/triagebot/pull/14. If we don't do this it could probably end causing some issue.

[2019-05-24 03:32] #13 closed

[2019-05-28 20:45] mati865 opened #16 "Rustbot doesn't check initial message when opening issue"
Example shown here: https://github.com/rust-lang/rust/issues/61266

Rustbot didn't do anything when I opened issue but when I copy-pasted the command to the comment it changed labels.

[2019-06-04 20:17] Mark-Simulacrum opened #17 "Release week regression labeling"
If a regression-from-stable-to-beta label is added in the release week, label with T-compiler, T-release, I-nominated and ping the release and compiler teams.

[2019-07-03 17:58] Centril opened #19 "Add command `@rustbot close`"
Add a command:
[code]
which will close the issue or PR.

[2019-07-03 18:02] Centril commented on #10
This doesn't work; an issue might be concurrently P-high for T-Compiler and `I-nominated` for T-Lang.
We would need special `I-nominated-lang` and such to make this work.

[2019-07-03 18:13] gagan0723 commented on #19
@Centril I am interested in implementing above command.

It's my baby-steps with `Rust`, but I will try my best together with one other `triage-wg` member.

[2019-07-10 08:24] mati865 commented on #16
Still doesn't work: https://github.com/rust-lang/rust/issues/62558

[2019-07-10 10:46] pietroalbini commented on #16
cc @Mark-Simulacrum

[2019-07-10 15:46] Mark-Simulacrum commented on #16
I've double checked and it does appear to work when testing in both other repositories and rust-lang/rust. I'm not sure what went wrong this morning. See for example https://github.com/rust-lang/rust/issues/62563 where it did in fact work.

Unfortunately we don't have any logging today on the server about what we're doing (something I definitely want to fix) so right now I think there's not much w

[2019-07-10 15:46] #16 closed

[2019-07-13 19:52] JohnTitor opened #41 "The assignment has failed silently"
See this [comment](https://github.com/rust-lang/rust/issues/62632#issuecomment-511130497).
Triagebot tried to edit the issue's description and assign them but it seems its work has failed.
It's nice for the bot to tell us what's happening, i.e. show an error message.

[2019-07-13 20:13] Mark-Simulacrum commented on #41
Should be fixed by 185584385ab08912808c4b8bf4d9ed1b57240325 -- I hesitate to push error messages directly to clients; maybe we can eventually add a "something went wrong" message but that doesn't seem too helpful.

[2019-07-13 20:13] #41 closed

[2019-08-20 15:45] u32i64 opened #114 "Don't re-assign user if they're already assigned"
Example:

1. Comment by `@user`:
[code]

    Bot assigns `@user` (directly or indirectly) and edits original issue comment if needed.

2. `@user` edits their comment:
[code]
    Bot unassigns `@user` (directly or indirectly) and edits original issue comment if needed, then assigns `@user` (directly or indirectly) and edits original issue comment if needed.

[rust-lang/rust example](https://github.

[2019-09-19 17:07] Centril opened #166 "Support `@rustbot move $repo`"
Does GitHub support this?
- https://developer.github.com/changes/2017-11-09-repository-transfer-api-preview/

https://discordapp.com/channels/442252698964721669/443148290352218115/624290071985782784

[2019-09-23 17:02] spastorino opened #169 "Add ability to ping WGs members using triagebot"
We've [agreed on Zulip](https://rust-lang.zulipchat.com/#narrow/stream/185694-t-compiler.2Fwg-meta/topic/ICE.20breaker.20self-subscribing.20github.20team) that is going to be great if we can have a way of pinging WG members (which are not part of rust-lang github org) using triagebot.

People is already able to sign up by themselves to WGs, just by sending a PR to the team repo on github. We would

[2019-09-23 17:06] Mark-Simulacrum commented on #169
Ideally (from an implementation perspective) the command here would be something like `@rustbot ping wg-llvm-icebreakers` I think? We basically want to match the naming in the team repo instead of creating arbitrary maps I think...

[2019-09-23 17:10] pietroalbini commented on #169
Where would you like that to be configured? The team repo or the `triagebot.toml` at the root of the rustc repo?

[2019-09-24 14:32] nikomatsakis commented on #169
I think the command "ping" seems fine.

I think the team repo seems best, in terms of where this should be documented.

I'm not sure if this should be classified as a *working group* or not. We use that term for a lot of things right now (I think too many, partly my fault) and this feels distinct from other uses of the term. I'm reluctant to add another. That said, I'm not sure what else to call i

[2019-09-24 14:58] pietroalbini commented on #169
Not really, as that would be considered a team, which would for example include the members in `all@`.

If ICE breakers are in the team repo we can surely list them.

[2019-09-24 15:19] nikomatsakis commented on #169
I guess we'd have to extend the team repo logic a bit then

[2019-09-25 15:07] Mark-Simulacrum commented on #169
@pietroalbini would probably be the best bet on those team repo changes -- I myself am not super familiar with the code, though could probably figure it out if needed (not sure how much time Pietro has these days).

[2019-09-25 15:17] pietroalbini commented on #169
I'll probably won't have time to work on the team repo side this week.

[2019-10-10 16:11] Mark-Simulacrum opened #202 "Warn if beta-nominated label is added without team label"
More abstractly, we should have a list of "team required" labels (e.g., I-nominated, beta-nominated, S-waiting-on-team...) in the configuration for rust-lang/rust, as well as a "team label" list ("T-*" and "WG-*" maybe).

The bot would detect labels in the first list being added without an accompanying team label being added. There is a proposal of some sort of "if not added within 1 minute" or so

[2019-10-12 19:28] Mark-Simulacrum commented on #169
@rustbot ping wg-meta

Testing the new functionality out...

[2019-10-12 19:29] Mark-Simulacrum commented on #169
@rustbot ping wg-meta

And now...

[2019-10-12 19:31] Mark-Simulacrum commented on #169
@rustbot ping wg-meta

[2019-10-12 19:35] Mark-Simulacrum commented on #169
@rustbot ping wg-meta

[2019-10-12 19:38] Mark-Simulacrum commented on #169
Okay so that looks like exactly what we wanted, I believe.

The configuration for the above ping can be seen in this repository: https://github.com/rust-lang/triagebot/blob/master/triagebot.toml

I'll re-deploy triagebot's server shortly so that the changes are live for all repositories and can be used on rust-lang/rust for example. We don't currently try to detect >50 users in the team so that'll

[2019-10-12 20:18] Mark-Simulacrum commented on #169
Closing as we've added this functionality... we'll want a PR to rust-lang/rust to add the config there but that should be a matter for y'all not this repo :)

[2019-10-12 20:18] #169 closed

[2019-10-22 17:51] nikomatsakis commented on #169
@Mark-Simulacrum one question btw -- can anybody do pings? Do we want some sort of access control? I guess we can conceivably wait until we have a problem... but I think it'd make sense to require "triage" access or something similar.

[2019-10-22 18:37] nikomatsakis commented on #169
Also, I documented this feature in the wiki here https://github.com/rust-lang/triagebot/wiki/Pinging

[2019-10-22 20:17] Mark-Simulacrum commented on #169
Right now we allow anyone to do so since but I can easily constrain down to essentially all@ (teams + WGs). Seems reasonable to do that.

[2019-12-11 06:35] dependabot-preview[bot] opened #233 "Dependabot needs permission to see team"
Dependabot couldn't resolve your project's dependencies as it couldn't access [team](https://github.com/rust-lang/team).

You can grant Dependabot access to team by adding the repository [here](https://github.com/organizations/rust-lang/settings/installations/233255). We'll automatically close this issue and kick off another update run once permission is granted.

[View the update logs](https://ap

[2019-12-24 17:53] bjorn3 opened #235 "Show a warning when a command is unknown"
In https://github.com/rust-lang/rust/issues/67590 I accidentally used `@rustbot modify label:` without `s`. I was confused why rustbot didn't add the labels until I noticed the missing `s`.

[2019-12-31 17:17] #233 closed

[2020-01-21 15:57] Centril opened #278 "Support creating labels, e.g., `@rustbot create label F-my_feature`"
This would:
- Create the label, with the relevant color for the category.
- Label the feature with the label.

[2020-01-26 08:55] phansch opened #284 "Allowing text after command?"
I just tried to add an explanatory text after `@rustbot claim` but it seems the command parser doesn't accept this:

https://github.com/rust-lang/rust/issues/56982#issuecomment-578482365

Allowing this would bring triagebot in line with bors as well

[2020-01-28 03:08] Mark-Simulacrum commented on #202
It may also be worth having a default team associated with such a warning (e.g., T-compiler on rust-lang/rust) to make sure the nomination is not lost.

@Mark-Simulacrum

[2020-02-08 07:30] dtolnay opened #331 ""meta <idx> <metadata...>" affects index of item"
I sent "meta 6 something or other" to triagebot on Zulip and it correctly set the bullet text for that item, but in the process that item ended up at index 5 instead of remaining at 6 as I would expect.

Assuming someone else didn't run "as dtolnay move ..." at the same time. :)

[2020-02-08 07:46] dtolnay opened #332 "Triagebot on Zulip: "Failed to query team API: could not get team data""
I sent a "meta" command to triagebot on Zulip and got back:

[code]

I resent the same command ~5 seconds later and it worked. Maybe this needs some retry logic?

[2020-02-09 00:00] Mark-Simulacrum commented on #332
Hm, interesting. I wonder if this is a stale reqwest client being used -- I recall that the non-async variant could hit this if the connection died when we went to go use it, but I thought that had gotten fixed in the async rewrite.

[2020-02-09 00:04] Mark-Simulacrum commented on #331
This should be fixed by a95aa98, we were updating the idx column in the table previously (and had an off by one error in that update). That update is not even necessary though, so that commit removes it.

[2020-02-09 00:04] #331 closed

[2020-02-11 19:46] dtolnay opened #337 "Ignore "pings" where a user mentions themselves or their own team"
For the purpose of https://triagebot.infra.rust-lang.org/notifications, me doing an "r? @dtolnay" or mentioning rust-lang/libs should not appear as pinging myself.

[2020-02-11 19:49] Dylan-DPC commented on #337
Wonder if we could do r?me

[2020-02-11 21:21] Mark-Simulacrum commented on #337
@dtolnay to clarify, do you expect self-pings (whether direct or transitive through a team ping) to be ignored? Or just `r? @dtolnay` should be ignored, as well as direct transitive through-team pings?

[2020-02-11 21:25] dtolnay commented on #337
Any time I mention myself should not be considered as notifying myself, not just in the case of `r?`. Another common way this happens is if I am quoting someone else's comment.

[2020-02-11 23:08] #337 closed

[2020-02-17 13:14] XAMPPRocky opened #345 "Ping teams for marker teams"
Right now we have rustbot ping everyone individually (`cc @ghost`) in a marker team, this isn't scable as GitHub mentions stop after 50 people. This might seem hard to reach but [ICE-Breakers Cleanup Crew][icc] has 24 members and [ICE-Breakers LLVM][llvm] has 14 members. possible that we get more than 50 members, or if there are issues we want to tag multiple marker teams, we would easily hit the

[2020-02-17 13:41] pietroalbini commented on #345
To clarify, my worry here is not about *us* considering people inside the org members of the team. I'm worried about someone who's a member of the org but not in a team posting a controversial comment on the issue tracker, and that comment being picked up by social media. In that case the comment appears to be from a generic member of the organization, and it could be hard to convince people that

[2020-02-17 14:07] Mark-Simulacrum commented on #345
Yes, I think it may be a far-fetched concern but until we get closer to this being a problem in practice I would prefer not to worry about it. I think it may also be true that we can avoid the "noise" issue by editing the comment after posting to delete the pings, and potentially (I forget if GH appropriately does this) we could bypass the 50 people limit by editing the comment to mention more peo

[2020-02-20 19:46] sfackler opened #350 "Add `ack` as a synonym for `acknowledge` in Zulip"
When running through my list of notifications, it'd be nice if I could just type `ack 1` versus `acknowledge 1`, since the second is a bit of a handful to type.

[2020-02-20 21:02] dtolnay opened #351 "Notifications for new issues and PRs"
In serde-rs repos and my personal repos, usually when someone makes an issue or PR they don't ping my username. But I would still like to treat those as a notification because I am the one responsible.

It would be great to set via some config, whether local to the repo or global to the user or org, that says who wants to be notified on new issues/PRs.

[2020-02-20 21:05] dtolnay opened #352 "Highfive integration"
Consider adopting some of the functionality of @rust-highfive into triagebot.

Things like:

- Greeting new contributors
- Heuristics based assignment of PRs to a random reviewer
- Reassigning PRs in response to `r? @username`

These are related to things triagebot already does.

[2020-02-20 21:36] #350 closed

[2020-02-20 21:38] sfackler commented on #350
Thanks!

[2020-02-20 21:40] Mark-Simulacrum commented on #350
(Should deploy in 5-10 minutes or so).

[2020-02-20 23:33] yaahc opened #353 "Yaahc workflow user story"
Per discussion with @Mark-Simulacrum in the triagebot zulip stream I'm documenting my current workflow for managing active work items and notifications and what features I'd like to see out of triagebot.

## Current Workflow

Currently I use github notifications beta to manage my notifications via the web ui, and I have email notifications completely turned off.

For me this is sufficient for keep

[2020-02-23 02:39] Mark-Simulacrum opened #356 "Missing notifications from new PR opening?"
https://github.com/rust-lang/rust/pull/69387 did not seem to get into my notification queue. I suspect that either we're not listening on the appropriate webhook, or some other (similar) error caused this.

[2020-02-23 16:37] Mark-Simulacrum opened #357 "Spurious notification for commented pings"
https://github.com/rust-lang/rust/issues/69392#issuecomment-590029971 for example should not have pinged the release team.

We should be able to reuse parser code to make this happen.

[2020-02-24 08:29] dtolnay opened #363 "Error sending request: connection closed before message completed"
I got this in response to a `move 12 1` command on Zulip:

[code]

I tried the same command again and it worked.

Possibly same root cause as #332?

[2020-02-25 19:39] spastorino opened #367 "Add help command and link to your notification page"
Maybe "Unknown command" could become "Unknown command, run help for more info".

Help command explains how the tool works, tells you about your notification page and explain the commands.

[2020-02-27 01:28] #357 closed

[2020-02-27 01:56] #356 closed

[2020-02-27 02:04] Mark-Simulacrum commented on #363
Hm, so not sure about the other issue, but it looks like for this at least the likely culprit is the problem identified in https://github.com/hyperium/hyper/issues/2136 where S3's timeouts are different from hyper's. Presumably this is trivially reproducible if you send requests "exactly" 20 seconds apart, or so.

I suspect something similar is also the case for CloudFront (which backs the team-ap

[2020-02-27 02:45] Mark-Simulacrum commented on #351
fef5538e0bf5dd6ee06b0909837063562f606cb6 made all serde-rs activity generate pings for @dtolnay. I suspect this'll be too much -- or at least that we'll want some sort of deduplication -- but I think it's a decent starting point.

One thing I came across recently that may be worth exploring as a way to expand triagebot's scope (relatively) easily is to replace our webhooks with GitHub's support fo

[2020-02-28 01:09] Mark-Simulacrum commented on #332
I've added some retry handling code to team API access at least.

[2020-03-12 13:53] Centril opened #402 "Ping aliases for `@rustbot ping the_alias`"
Instead of having to remember `@rustbot ping icebreakers-cleanup-crew` it would be great if we could add a memorable alias for the group so that I could e.g. write `@rustbot ping cleanup`. We would configure this by adding a list of aliases under a ping section.

[2020-03-12 13:59] Mark-Simulacrum commented on #402
fff4611 implements the alias key for the ping configuration; rust-lang/rust can start using it as soon as the change to triagebot.toml lands in the master of that repo. Could you make that PR?

[2020-03-12 14:35] Centril commented on #402
I think so yeah; could you add something to the wiki docs btw?

[2020-03-12 20:06] #402 closed

[2020-03-24 18:14] dtolnay opened #422 "Escape angle brackets in issue titles"
GitHub issues with `<` `>` in the title, such as https://github.com/rust-lang/rust/pull/69163, emit html on the notifications page that contains raw angle brackets, which end up treated by the browser as html tags. We should emit these characters as `&lt;` and `&gt;` and similar for any other html characters that need escaping.

Undecided on whether the description given in `add` commands should b

[2020-03-24 18:17] Mark-Simulacrum commented on #422
👍 on escaping both -- I had originally wanted to support Markdown, as well, though currently we do not. I think most use cases for HTML would be satisfied by that (eventual) support.

[2020-03-27 21:22] Aaron1011 opened #429 "Auto-hide comments that only contain a label command"
When using the 'rustbot modify labels' command, the comment containing the command is essentially just noise. The GitHub UI already shows label changes in a more compact and readable format.

It would be useful for triagebot to auto-hide the comment containing the label command (assuming that the message has no other content).

According to https://github.com/isaacs/github/issues/1480#issuecomment

[2020-03-30 13:50] pietroalbini commented on #429
Oh, TIL you can hide comments from GraphQL while you can't from the REST API. We should probably implement auto-hiding in RLA as well!

[2020-04-08 21:29] spastorino opened #453 "Add rustbot prioritize command"
Would be nice if we have `@rustbot prioritize` command that assigns `I-prioritize` label and also creates a new topic on [Zulip's WG-prioritization stream](https://rust-lang.zulipchat.com/#narrow/stream/227806-t-compiler.2Fwg-prioritization) requesting the working group to prioritize the in question issue.

Read more about the discussion about this feature request in this [Zulip topic](https://rus

[2020-04-08 21:29] spastorino commented on #453
cc @rust-lang/wg-prioritization

[2020-04-08 21:30] Mark-Simulacrum commented on #453
Please also document on this issue the format for the topic (e.g., should it link to the issue?)

A sample topic in Zulip would be good, too.

[2020-04-10 13:25] #453 closed

[2020-04-14 11:59] jonas-schievink opened #464 "React when someone applies `I-prioritize`"
Having to leave a `@rustbot prioritize` comment is less convenient than just applying `I-prioritize` along with the other labels, so it would be great if triagebot could notice the label being applied and do its magic (creating the Zulip stream, etc.)

[2020-04-14 12:52] Mark-Simulacrum commented on #464
Done. See https://github.com/rust-lang/rust/issues/71113 and accompanying https://rust-lang.zulipchat.com/#narrow/stream/227806-t-compiler.2Fwg-prioritization/topic/I-prioritize.20.2371113.20Normalization.20error.20with.20.60ToOwned.60/near/193891346.

[2020-04-14 12:52] #464 closed

[2020-04-14 12:59] spastorino commented on #464
This is awesome and very cool for people with privileges in the repo. Still leaving the command for people that do not have labeling privileges and advertising it around is also a good idea :).

[2020-04-14 13:08] Mark-Simulacrum commented on #464
To be clear, command has not been removed (and indeed does not require any authorization today, anyone can invoke it).

[2020-05-05 13:06] nikomatsakis opened #505 "Link compiler major change proposal zulip threads"
Right now, the triagebot will create a zulip thread when a compiler-team MCP is opened, but it doesn't link to that zulip thread from the compiler-team issue. It would be great for it to leave a comment like

* [Zulip thread](XXX)
* [Archive](...)

where the archive points to https://zulip-archive.rust-lang.org/

[2020-05-05 13:08] bjorn3 opened #506 "Add command to run `cargo bisect-rustc`"
Discussion: https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/topic/cargo-bisect.20as.20a.20bot

I got a working prototype at https://github.com/bjorn3/cargo-bisect-rustc-bot. I will probably try to integrate it into triagebot next week.

[2020-05-18 19:12] XAMPPRocky opened #553 "Add command/workflow to go from S-waiting-on-author to S-waiting-on-review"
Currently the status labels for PRs are mostly manually updated by triagers, it would be nice if authors of PRs could more easily update the status when it's `S-waiting-on-author` when they believe they have completed the necessary changes.

### Potential Solutions

- Detect when the author has requested a review using GitHub's request review feature and automatically update labels.
- Add some kin

[2020-05-19 14:18] XAMPPRocky opened #558 "Auto-assignment"
Highfive currently auto-assigns people to review PRs based (I believe) on some match between the directory where the changes occur and its JSON config containing assignees. It would be great if we could not implement auto-assignment in triagebot, but also make some improvements to the auto-assignment system.

### Requirements
- Instead of using a JSON config, assignees should taken from data in `r

[2020-05-20 07:58] dtolnay commented on #558
You suggested in #triage-wg that you would be interested in feedback from a libs team perspective so I'll weigh in here.<br><br>

I think about this problem space in terms of throughput. Simplifying a bit, triage wg is responsible over a pool of open PRs. This pool has an inflow (PRs being opened) at some rate, and an outflow (completing the review and merging or closing) at some rate.

- Examples

[2020-05-20 12:13] pietroalbini commented on #558
I don't think taking assignees directly from the team repo is a good choice: I want changing them to be as frictionless as possible, and the team repo would get messy if we had per-directory permissions for each repo that wants auto-assignments.

An approach I'd prefer is to use [`CODEOWNERS`](https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners) files, a

[2020-05-20 18:49] XAMPPRocky commented on #558
Sorry I should clarify what I meant, which is that only the member data, such as who is in what team would taken from `rust-lang/team`. The actual "codeowners" part of what glob path triggers which team/person to ping could be set in the repository's `triagebot.toml`, or it could be its own file in the repo.

I think assigning teams over members would make the bandwidth problem worse, because as I

[2020-05-20 19:25] pietroalbini commented on #558
Well we could have triagebot resolve team members and still assign an individual.

[2020-05-20 21:01] XAMPPRocky commented on #558
That is what I was thinking as well, owners set to teams and then triagebot figures out who amongst them is available to review.

I was also wrong on how the team code owner reviews on GitHub works, it does allow you to assign to individuals from a team, and choose how to distribute the load, which is most of what we want I think. It doesn’t have a way to limit how many reviews though currently. h

[2020-05-28 07:38] XAMPPRocky opened #574 "Add 'desposition-merge' command"
A workflow I often run into is where someone has opened a PR, I've reviewed it, but before I merge I want to cc a group or individual to look over it, but I don't want to block merging the PR on their review if they're busy. It would be nice if you could say `@rustbot merge 2 days` to have rustbot automatically if there's been no review in the time given.

[2020-06-01 20:38] LeSeulArtichaut opened #591 "Add command for relabeling issues from Zulip"
[As suggested in today's Prioritize WG meeting](https://rust-lang.zulipchat.com/#narrow/stream/227806-t-compiler.2Fwg-prioritization/topic/meeting.202020.2E06.2E01/near/199416944), being able to relabel issues from Zulip could be helpful, e.g. for prioritizing issues as per the prioritize-WG or labeling during meetings, without leaving the Zulip chat.

The command syntax could probably follow the

[2020-06-01 20:42] Dylan-DPC commented on #591
cc @rust-lang/wg-prioritization

[2020-06-02 19:47] spastorino commented on #591
To add a bit more about our requirements, the ideal would be that we issue a command on Zulip and have the issue label `I-prioritize` be removed, the passed priority label added to the issue, a message posted to GitHub that looks like ...

and also the topic name changed from for example `I-prioritize #72896 ICE when structurally matching a struct` to `P-critical #72896 ICE when structurally match

[2020-06-03 19:53] varkor opened #595 "`@rustbot claim` should be ignored inside quoted text"
See [this comment](https://github.com/rust-lang/rust/issues/60302#issuecomment-638426081) for instance.

[2020-06-06 08:37] kellda commented on #422
It seems the change should be done here: https://github.com/rust-lang/triagebot/blob/master/src/notification_listing.rs#L27-L30.
Is always using `replace` OK ? Or does it cause a problem performance-wise ?

[2020-06-06 11:41] kellda commented on #114
I'm interested to work on this. What would be the best strategy to implement it ?
* Bypass command if it is an edit, something like done [here](https://github.com/rust-lang/triagebot/blob/master/src/handlers/assign.rs#L49-L56)
* Always check the target user isn't already assigned
* Somehow process only changed text

What happens / should happen when a user delete a command from its comment ?

[2020-06-06 12:05] Mark-Simulacrum commented on #114
I would probably start by just checking if they're already assigned, since we have access to that (or can easily get it). Ideally, yes, we'd only process the changed text and if that overlaps with the command then rerun it but otherwise not. That's a harder task but if you want to take it on go for it :)

[2020-06-06 20:32] kellda commented on #114
I'll see later if I want to try to process only the diff, for now I implemented the check.
However I see one caveat to this implementation:

1. Comment by `@someuser`:
[code]
    Bot assigns `@someuser`.

2. For some reason `@otheruser` claim:
[code]
    Now the bot unassigns `@someuser` and assign `@otheruser`.

3. `@someuser` edits their comment:
[code]
    Bot unassigns `@otheruser` and reassig

[2020-06-06 20:43] Mark-Simulacrum commented on #114
PR/issue description is edited much more frequently than comments; that's the reason for the divergence there. I think the behavior that you've noted is fine for now, I'm hoping that someone (maybe me) can find the time soon to nail down the diffing support which would essentially eliminate this problem I think.

[2020-06-06 20:51] kellda commented on #114
A with diff / edit support comes the question of what to do when a command is suppressed, e.g.
[code]
Should I be unassigned from the issue in the above case ?

[2020-06-06 21:50] Mark-Simulacrum commented on #114
No, I think we shouldn't ever try to undo commands, but instead just run "new commands" (including potentially an edited old command). But to start off I wouldn't even try to intelligently diff commands -- my suggestion would be to do something like running the parsing algorithm on the before and the after versions of the comment/description, then we run any commands in the new version that aren't

[2020-06-07 08:07] kellda commented on #284
Currently triagebot require either a dot or a new line after `@rustbot claim`. I don't know why though.

[2020-06-07 08:20] kellda commented on #114
I still wonder if it makes sense to allow issuing commands when editing because:
- You can always add a comment
- If there are comments after the one you're editing, the result (rustbot assigned rustbot message) of your command may be far away from the actual command.

[2020-06-07 08:23] kellda commented on #595
Currently rustbot commands are ignored in code blocks, which matches what github does for @ mentions

[2020-06-07 13:53] Mark-Simulacrum commented on #114
It's a much smoother workflow to edit a comment than leaving ~N comments when trying to get a command to work. Ideally we'd have a workflow that didn't mean that each comment generates notifications for everyone on the thread, but today that's the case and editing comments is the only way to get around that.

[2020-06-07 15:27] kellda commented on #114
OK, now I see how it can be usefull.

I'm interested to working on this. I think the easier way is to parse commands and execute only if it overlaps with edits (something like whats done to exclude code blocks). I think parsing twice is quite hard to do because it will need a lot of refactoring to delay execution of commands.

I have some trouble understanding what the `changes` field looks like i

[2020-06-07 16:17] Mark-Simulacrum commented on #114
Yeah, it might be easier to do something like what you suggest, I'm fine with pretty much whatever approach works.

I can try to pull out a few examples from the logs we have, yeah. Will post here when I get a chance to do so.

[2020-06-10 16:08] LeSeulArtichaut opened #615 "Split the `prioritize` feature in smaller parts"
As of today, the prioritize feature has 3 roles:
- when the `@rustbot prioritize` is used, label the issue with the prioritization label
- when certain labels are added, label the issue with the prioritization label
- when the prioritization label is added, create a conversation on Zulip

I would propose to split those 3 features. This will allow for more flexibility, e.g. to define multiple trigg

[2020-06-12 01:47] #615 closed

[2020-06-12 14:21] #422 closed

[2020-06-15 07:41] ikaustubhk opened #628 "Exposed AWS Access Key ID Value"
Potential security breach. See /.github/workflows/ci.yml

[2020-06-15 08:18] bjorn3 commented on #628
In the future please report security issues to security@rust-lang.org. See https://www.rust-lang.org/policies/security for more information.

(I am not a member of @rust-lang, so I can't help fix this issue.)

[2020-06-15 08:30] pietroalbini commented on #628
The Access Key ID is not a sensitive value, as it's just the identifier of the access key. The secret key is properly protected.

[2020-06-15 08:30] #628 closed

[2020-06-15 19:29] XAMPPRocky opened #629 "Include help in comment trailer"
One of the cool UX things abbout dependabot is that includes the help commands in every response hidden under a summary, which lets you easily look at the available commands without leaving the github thread. It would be nice if triagebot also did this or something similar.

### Example

<img width="942" alt="Screenshot 2020-06-15 at 16 36 37" src="https://user-images.githubusercontent.com/4464295

[2020-06-16 00:00] Mark-Simulacrum commented on #629
I'd be happy to do this as a link to either the landing page for the wiki or dedicated help pages, but I'm opposed to directly including the help; it both gets stale (which is less of an issue for dependabot, as those PRs usually get closed/merged quickly) and more importantly isn't collapsed in all mail clients (notably, gmail).

I would be happy to accept a PR for this.

[2020-06-21 00:54] camelid opened #640 "Add an ellipsis at the end of truncated topics"
Otherwise, it can be confusing since there's no indication of truncation.

Cc @Mark-Simulacrum

This issue has been assigned to @kellda via [this comment](https://github.com/rust-lang/triagebot/issues/640#issuecomment-662510965).

[2020-06-21 00:55] camelid commented on #640
@rustbot claim

[2020-06-21 01:04] Mark-Simulacrum commented on #640
cc https://rust-lang.zulipchat.com/#narrow/stream/224082-t-release.2Ftriagebot/topic/truncated.20topics

[2020-06-23 13:49] LeSeulArtichaut commented on #591
I think @Elinvynia was willing to implement this.

[2020-06-27 01:00] spastorino commented on #591
Maybe this https://github.com/rust-lang/triagebot/pull/12 is useful.

[2020-06-27 12:00] LeSeulArtichaut commented on #591
I think there should be a relabel command available on Zulip whatsoever, to be able to change any label, not just labels for prioritization. But I agree that, a triage command equivalent to #12 would also be great.

[2020-06-28 07:46] Elinvynia commented on #591
Hello, I've finally had some time to look into it, I'm not sure what the priority is but if it's high anyone is free to use my notes:

The `relabel.rs` command parser may be reused for efficiency.
Creating the handler by itself is simple, as it's mostly a combination of `notify_zulip.rs` and `relabel.rs`

The hard part is adding some zulip API that would pass the events down the handlers kind of w

[2020-06-29 13:10] LeSeulArtichaut commented on #591
@rustbot claim

[2020-07-02 14:04] spastorino opened #666 "Major Change Proposals accepted zulip notifications trigger twice"
As can we seen here https://rust-lang.zulipchat.com/#narrow/stream/233931-t-compiler.2Fmajor-changes/topic/Support.20const.20parameters.20in.20type.20dependent.20compiler-team.23304/near/202623737 notifications are being triggered twice. cc @Mark-Simulacrum

[2020-07-02 16:04] Mark-Simulacrum commented on #666
Should be fixed on master.

[2020-07-02 16:04] #666 closed

[2020-07-03 06:10] dependabot-preview[bot] opened #667 "Dependabot can't resolve your Rust dependency files"
Dependabot can't resolve your Rust dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/rust-lang/update-logs/38931573).

[2020-07-03 06:26] bjorn3 commented on #667
@dependabot You don't seem to handle yanked dependencies. `core-foundation 0.7.1` has been yanked.

[2020-07-05 15:42] poliorcetics opened #669 "Allow adding parts of given labels when some are forbidden"
In [this issue](https://github.com/rust-lang/rust/pull/74062), the bot failed to add my first label because I did not have the right to add the second one.

Could this be done in a way that it adds successful labels even when others are failing ?

[2020-07-05 17:46] Mark-Simulacrum commented on #669
This is intentional - we could partially apply labels, in theory, but it doesn't always make sense to do so, and I think an all-or-nothing approach isn't too bad. You can edit comments and that'll rerun the labeling code, though that doesn't work for the issue description today.

[2020-07-06 06:26] #667 closed

[2020-07-06 21:22] poliorcetics commented on #669
My bad then, I'll close. Thanks for the quick answer and sorry for the delay !

[2020-07-06 21:22] #669 closed

[2020-07-07 18:59] kellda commented on #114
Hi,

I may have some free time in the coming weeks and I'd like to contribute to this project.

Were you able to pull out example from the logs for edited messages ? I think I eventually undersood the spec for the API, but some examples would still be useful.

[2020-07-08 18:52] #114 closed

[2020-07-17 19:12] camelid opened #701 "Link to Zulip stream from GitHub issue is broken"
## Issue

### Rustbot's link

https://rust-lang.zulipchat.com/#narrow/stream/233931-xxx/topic/Use.20sane.20defaults.20in.20x.py.20compiler-team.23326

### Actual link

https://rust-lang.zulipchat.com/#narrow/stream/233931-t-compiler.2Fmajor-changes/topic/Improve.20defaults.20in.20x.2Epy.20compiler-team.23326

### Diff

[code]

## Summary

I think there are two issues here:
1. Rustbot has `xxx` ins

[2020-07-17 19:17] camelid commented on #701
Alternatively, the solution to problem 2 is to just have the issue number in the Zulip topic and not have the name. Rustbot would post the name as the first message in the topic. The downside is that you have to open the topic to see what it's about, which kind of defeats the purpose of a topic!

[2020-07-17 19:19] camelid opened #702 "Allow anyone to modify certain labels"
I'm thinking bug, invalid, and question

[2020-07-17 19:22] bjorn3 commented on #702
There is already the `@rustbot modify labels` command: https://github.com/rust-lang/triagebot/wiki/Labeling

[2020-07-17 19:23] camelid commented on #702
Sorry, I wasn't very clear: I meant specifically on this repository.

As far as I can tell, the `triagebot.toml` does not allow it:

https://github.com/rust-lang/triagebot/blob/b1eccd3d37d03be024164a67bcd186413be86807/triagebot.toml#L1-L2

[2020-07-17 19:42] Mark-Simulacrum commented on #701
(1) is supposed to work -- according to the Zulip developers, that part of the URL is ignored. We don't actually know the stream name so can't readily insert it.

(2) would be feasible though a bit painful. It looks like there's not a documented way to rename topics through the API. I suspect that most proposals that change titles should probably just open a new proposal, or we can edit the commen

[2020-07-17 19:43] Mark-Simulacrum commented on #701
Yeah I think this is basically not going to work, since the topic being useful is much more valuable than preserving the link -- the link, can, after all be readily updated by folks.

[2020-07-17 19:46] #702 closed

[2020-07-17 20:11] camelid commented on #701
@rustbot modify labels to invalid

[2020-07-17 20:27] camelid commented on #701
We don't know the stream name? Don't we need to know it to create the topic?

[2020-07-17 20:29] Mark-Simulacrum commented on #701
No, you only need the stream ID. We could also add stream names to our configuration, but regardless the stream name doesn't matter because it's not the problem -- URLs with any characters instead of the stream name will work. e.g.,

https://rust-lang.zulipchat.com/#narrow/stream/233931-this-is-a-sweet-stream/topic/Improve.20defaults.20in.20x.2Epy.20compiler-team.23326

works quite fine.

[2020-07-17 20:32] camelid commented on #701
So do you think it's worth it to fix this? For example, by detecting GitHub issue title changes and updating the Zulip title so that people don't do it manually

[2020-07-17 20:37] Mark-Simulacrum commented on #701
Generally speaking, sure, I'd love to fix this. However, I think it's going to be quite hard.

 * We cannot detect edits to topic titles on Zulip with the existing hook, which only pings our backend if the bot's name is mentioned on Zulip.
 * If we go the other way, there's no API endpoint that I can find that lets us edit the topic name on Zulip. So we can't easily do things that way either.

Wha

[2020-07-17 20:48] camelid commented on #701
Or maybe we could just post something to the original Zulip topic saying that the GitHub issue was renamed?

[2020-07-17 21:03] Mark-Simulacrum commented on #701
The github issue being renamed shouldn't affect the Zulip topic at all in the sense that all links etc should still work... I think a comment on the github issue makes a lot more sense, personally.

[2020-07-17 21:23] joshtriplett commented on #701
Could we ask the Zulip folks for a "rename topic" API endpoint?

[2020-07-17 21:24] camelid commented on #701
Yeah, that's what I was thinking

[2020-07-17 21:28] camelid commented on #701
Okay, I just filed an issue: zulip/zulip#15846

Feel free to add to it!

[2020-07-17 22:05] camelid commented on #701
@Mark-Simulacrum Does `github::IssuesAction::Edited` represent a GitHub issue rename?

[2020-07-17 22:07] Mark-Simulacrum commented on #701
Seems to be -- https://docs.github.com/en/developers/webhooks-and-events/webhook-events-and-payloads#issues -- but I can't be 100% sure.

[2020-07-17 22:24] camelid commented on #701
`Changes` represents the *old* version, right?

[2020-07-17 22:45] camelid commented on #701
Might as well mark this as claimed

@rustbot claim

[2020-07-17 23:59] camelid commented on #701
Apparently, there is actually a way to rename topics: https://github.com/zulip/zulip/issues/15846#issuecomment-660377837

[2020-07-18 00:09] Mark-Simulacrum commented on #701
Sounds great! We probably want to do that here then and edit the first comment ourselves.

[2020-07-18 00:11] camelid commented on #701
Does Rustbot keep track of its comments? If not, maybe we edit the original issue text and add a Zulip link there instead of posting a separate MCP comment? (I.e., put some of the contents of [this](https://github.com/rust-lang/compiler-team/issues/326#issuecomment-653037659) in the issue post.)

[2020-07-18 00:23] camelid commented on #701
Is there a way to access the update-message endpoint from the `zulip` module?

[2020-07-18 00:31] camelid commented on #701
Hmm, I think Rustbot will need to keep track of the message ID for the topic it creates (unless it is already). Maybe it makes more sense to just have someone manually rename the topic?

[2020-07-18 01:13] Mark-Simulacrum commented on #701
My impression was that if we specify change_all for propagate mode, we could change the topic by just posting a new message to it (and maybe using that message's ID?).

I don't believe we have an impl for the update message endpoint, so you'd have to add one.

[2020-07-18 01:18] camelid commented on #701
I didn't think of that :)

[2020-07-18 03:07] jyn514 commented on #701
The name of the topic was not changed. I started a new topic then linked to the new topic from the old one. The old one should still work: https://rust-lang.zulipchat.com/#narrow/stream/233931-t-compiler.2Fmajor-changes/topic/Use.20sane.20defaults.20in.20x.2Epy.20compiler-team.23326

[2020-07-18 19:43] camelid commented on #701
Huh, it looks like we might have another issue here then.

For the original topic:

### Rustbot link

https://rust-lang.zulipchat.com/#narrow/stream/233931-xxx/topic/Use.20sane.20defaults.20in.20x.py.20compiler-team.23326

### Actual link

https://rust-lang.zulipchat.com/#narrow/stream/233931-t-compiler.2Fmajor-changes/topic/Use.20sane.20defaults.20in.20x.2Epy.20compiler-team.23326

If we compare

[2020-07-18 19:45] camelid commented on #701
From what I see in the rest of the link, it looks like Zulip encodes special characters as a `.` and then the ASCII hex code. Because of that, it seems a `.` must be encoded as its hex code.

[2020-07-18 21:58] Mark-Simulacrum commented on #701
It's quite possible there's a bug in that code, I made a quick and best effort attempt at replicating what the Zulip codebase is doing - PRs appreciated.

[2020-07-18 23:07] camelid opened #712 "Zulip URL encoding doesn't work for dots"
### Rustbot link

https://rust-lang.zulipchat.com/#narrow/stream/233931-xxx/topic/Use.20sane.20defaults.20in.20x.py.20compiler-team.23326

### Actual link

https://rust-lang.zulipchat.com/#narrow/stream/233931-t-compiler.2Fmajor-changes/topic/Use.20sane.20defaults.20in.20x.2Epy.20compiler-team.23326

If we compare the Rustbot link (and elaborate the `xxx` to the full stream name) against the actua

[2020-07-19 19:44] camelid commented on #712
Relevant code? https://github.com/rust-lang/triagebot/blob/823fd7fe45ce3f86095d29e2a1b0294d69870b07/src/zulip.rs#L337-L359

[2020-07-19 19:58] JohnTitor opened #714 "Add `{include|exclude}_labels` options to `notify-zulip`"
For example, auto-labeling `I-prioritize` is useful in most cases but we don't want to notify of all that on Zulip.
So it'd be great if `notify-zulip` config had `{include|exclude}_labels` options.

cc https://github.com/rust-lang/rust/issues/74531

[2020-07-22 09:17] kellda commented on #712
Seems fixed since #653

[2020-07-22 09:59] Mark-Simulacrum commented on #712
I would like to add a test, then, just to make sure we don't regress this bit in the future.

[2020-07-22 15:11] kellda commented on #640
@camelid Are you still working on this ?

[2020-07-22 17:02] #712 closed

[2020-07-23 15:44] camelid commented on #640
@kellda I was going to, but I haven’t gotten to it yet. Feel free to claim it if you want to work on it

[2020-07-23 23:21] #640 closed

[2020-08-05 19:35] nbdd0121 opened #750 "Assignment for non-org members"
Currently rustbot assigns itself for `@rustbot claim` by users without permission, I believe this is due to the API returning error when a non-org member is assigned, so I emailed GitHub support about this issue:

Gary Guo: Jun 22, 2020, 11:03 PM UTC

Laurel (GitHub Support): Aug 5, 2020, 7:17 PM UTC

However it seems that this is different from what we experience, because an user who posted `@rus

[2020-08-05 19:41] nbdd0121 commented on #750
Oh, I checked the source code, it seems that it is an incorrect use of the API.

https://github.com/rust-lang/triagebot/blob/77ea0f439501f127e1b682dd5082fabf8a7fa68e/src/github.rs#L514
This only checks if an user can be assigned to *any* issue of the repository, rather than a particular issue.

[2020-08-05 19:56] Mark-Simulacrum commented on #750
To my knowledge, there is not a way to check for a particular issue, note that [the check API](https://developer.github.com/v3/issues/assignees/#check-if-a-user-can-be-assigned) does not take an issue.

It would be possible for us to just try and assign without checking, I suppose -- I don't recall if there's some problem there.

[2020-08-05 20:59] #750 closed

[2020-08-07 23:39] camelid opened #753 "Rustbot isn't responding to label requests"
See here:

https://github.com/rust-lang/rust-clippy/issues/5875#issuecomment-670781557

Labeling is enabled for Clippy, but rustbot isn't responding to my label request. Am I doing something wrong?

[2020-08-07 23:39] camelid opened #754 "Rustbot isn't responding to label requests"
See here:

https://github.com/rust-lang/rust-clippy/issues/5875#issuecomment-670781557

Labeling is enabled for Clippy, but rustbot isn't responding to my label request. Am I doing something wrong?

[2020-08-07 23:39] camelid commented on #754
@rustbot modify labels to question

[2020-08-07 23:39] camelid commented on #754
Looks like it's working here

[2020-08-07 23:41] camelid commented on #754
Whoa, when I asked rustbot to modify the labels, it created a new issue. That, or something's going awry with GitHub.

[2020-08-07 23:41] camelid commented on #754
@Mark-Simulacrum Do you know what's going on here?

[2020-08-07 23:46] Mark-Simulacrum commented on #754
I don't, do you have a link to the issue it created?

[2020-08-07 23:48] camelid commented on #754
Yes, it was the original issue I had opened: #753

I'll close #753 so there isn't a duplicate.

[2020-08-07 23:48] #753 closed

[2020-08-12 11:51] Mark-Simulacrum commented on #754
Fixed.

[2020-08-12 11:51] #754 closed

[2020-08-12 12:55] Mark-Simulacrum opened #760 "auto-bless tests/formatting on rust-lang/rust"
This is intended to be somewhat compatible with other repositories wishing to do the same, but for now it is reasonable to hardcode assumptions that can be made for rust-lang/rust.

I believe these are reasonable steps to making this work:

Adjust compiletest to have a `--bless-into $DIR` flag which acts like `--bless` but writes new files at a different root (e.g., if editing `src/test/ui/issue-3

[2020-08-12 12:55] Mark-Simulacrum commented on #760
@lcnr you expressed interested in working on this, so pinging you.

[2020-08-12 12:58] jyn514 commented on #760
We shouldn't need to merge the files, just overwrite them with the new ones, right?

[2020-08-12 13:05] Mark-Simulacrum commented on #760
Right, yes, I just mean that the downloaded zipfile contains a subset of the files rather than all of them.

[2020-08-16 23:28] camelid opened #765 "Triagebot isn't responding to label requests in rust-lang/www.rust-lang.org"
I posted this (https://github.com/rust-lang/www.rust-lang.org/issues/1229#issuecomment-674591531):

[code]

but nothing happened.

The `triagebot.toml` for rust-lang/www.rust-lang.org is:

https://github.com/rust-lang/www.rust-lang.org/blob/17e264d5a27702fe7f1a6d346f338a6bf28174c7/triagebot.toml

which should allow me to modify labels.

Cc #754

[2020-08-16 23:29] camelid commented on #765
@rustbot modify labels: +question +bug

[2020-08-16 23:31] camelid commented on #765
Looks like it works in this repo.

@Mark-Simulacrum maybe the same issue that I had in rust-lang/rust-clippy (no write permissions for rustbot)?

[2020-08-16 23:37] Mark-Simulacrum commented on #765
Should be fixed.

[2020-08-16 23:37] #765 closed

[2020-08-17 01:49] camelid commented on #765
Works now, thanks!

[2020-08-17 01:52] camelid opened #766 "Deleting a label comment makes Rustbot execute the comment"
Deleting a label comment like `@rustbot modify labels: bug` makes rustbot execute the command. In my case, the original label request didn't work, but once it was fixed I deleted it and rustbot then applied the label.

Not sure if this is considered an issue (probably doesn't matter), but wanted to report it anyway.

@rustbot modify labels: invalid

[2020-08-17 09:44] bjorn3 commented on #766
@rustbot modify labels: -invalid

The `invalid` label is for when the issue itself is invalid. For example because it was opened by a bot.

[2020-08-17 17:19] camelid commented on #766
Huh, I didn’t realize that. I thought it was for invalid behavior, but I guess that’s what `bug` is for. Thanks for pointing that out!

@rustbot modify labels: +bug

[2020-08-18 20:15] kellda commented on #766
I may have introduced this in #707 or #708. Could you add a link to the comment where you experienced this bug ?

[2020-08-18 20:25] camelid commented on #766
Well, the issue happened when I deleted the comment, so I can't link to it :)

The text was:

[code]

[2020-08-18 20:35] kellda commented on #766
Ok I think the webhook payload is the same as when the comment is created, except for the `action` field, so the command is run again.

[2020-08-18 21:51] #766 closed

[2020-08-21 21:53] camelid opened #773 "Triagebot creates duplicate issues on some label requests"
Example 1: rust-lang/triagebot#753 and rust-lang/triagebot#754

Example 2: rust-lang/crates.io#2709 and rust-lang/crates.io#2710

Sometimes when `@rustbot modify labels: ...` is run, rustbot opens a new issue with the label applied and doesn't apply to the initial issue.

[2020-08-21 21:53] camelid opened #774 "Triagebot creates duplicate issues on some label requests"
Example 1: rust-lang/triagebot#753 and rust-lang/triagebot#754

Example 2: rust-lang/crates.io#2709 and rust-lang/crates.io#2710

Sometimes when `@rustbot modify labels: ...` is run, rustbot opens a new issue with the label applied and doesn't apply to the initial issue.

[2020-08-21 21:54] #774 closed, assigned to nobody

[2020-08-21 21:54] #773 closed, assigned to nobody

[2020-09-05 06:55] lcnr commented on #760
We already save these files to `/build/x86_64-unknown-linux-gnu/test/ui/`, so it might make sense to instead just read them from there :thinking: Is there something that makes using these files more difficult than writing them in a seperate dir?

[2020-09-05 12:37] Mark-Simulacrum commented on #760
Well, no, not particularly - that should be fine. It might be a bit more annoying to construct that path on different builders, but probably not too hard - we really only need 1 or 2 builders for pretty complete coverage anyway.

[2020-09-08 21:10] camelid opened #813 "Milestone PRs in core Rust tooling repos"
The milestone feature that @Mark-Simulacrum added recently is very helpful to visualize when a PR will be in a stable release. I think it might be nice to extend it to other repos like:

* cargo
* clippy
* rustfmt

[2020-09-08 21:11] camelid commented on #813
@rustbot modify labels: enhancement

[2020-09-10 14:49] jyn514 opened #821 "Add `@triagebot squash` command"
A common challenge new contributors have is squashing commits into one:

- This requires having a local clone of the repo (especially for doc PRs, most people just use the web interface)
- Knowing how to use `git rebase`, including that you should use `-i` to edit individual commits
- Knowing that `git push -f` is ok (this last step trips a lot of people up - they'll rebase and then 'merge branch

[2020-09-10 14:50] jyn514 commented on #821
This first made me annoyed enough to open an issue in https://github.com/rust-lang/rust/pull/76289, but it's happened a lot before that too.

[2020-09-15 17:34] jyn514 opened #831 "feature request: warn if a PR modifies only src/test/ and library/"
From https://github.com/rust-lang/highfive/issues/286.
cc https://github.com/rust-lang/rust/issues/76268

I don't think it should be part of tidy, because it could have false positives. tidy is a hard error, I want this to be more like submodules where it says 'only do this if you're sure'.

[2020-09-15 17:37] workingjubilee commented on #831
`#[inline(details)]`

_Originally posted by @Mark-Simulacrum in https://github.com/rust-lang/highfive/issues/286#issuecomment-692852885_

Currently, the norm is to add UI tests because by default they're useful and comprehensive, but this has led to many "should be a unit test" tests getting added as UI tests, slowing compile/test iteration massively. So, we should
1. Add the ability to respond to

[2020-09-15 17:39] jyn514 commented on #831
I think you meant `#[doc(inline)]` ;)

[2020-09-18 16:06] lcnr commented on #760
Looks like this is slightly too complex for me to implement with my current time budget, so if someone else in interested in picking this up, please do! :grimacing:

[2020-09-24 19:05] camelid commented on #821
@rustbot modify labels: enhancement

[2020-09-24 19:15] camelid opened #849 "Allow acknowledging all notifications"
It would probably be helpful for people who get a ton of notifications and want to acknowledge all of them so they can start fresh.

@rustbot modify labels: enhancement

[2020-10-03 21:31] camelid commented on #821
@jyn514 Hmm, are you sure this command is correct? Running (for example)

[code]

fails for me.

Also:

- We probably need to `git fetch` first
- We should use `git rebase -i $(git merge-base master HEAD)` so we don't introduce merge conflicts
- We should use `--force-with-lease` so we don't overwrite new commits

[2020-10-03 21:59] jyn514 commented on #821
Sure, all of those seem fine. I never actually tested this commands.

[2020-10-03 22:55] Mark-Simulacrum commented on #821
You need to install hub (GitHub integration for git) if you want the command to work without fetching.

[2020-10-03 22:58] jyn514 commented on #849
I don't know what you mean here. Triagebot doesn't send out notifications, github does. If you want to clear github notifications, you can do that:

![image](https://user-images.githubusercontent.com/23638587/95003159-5bf08280-05aa-11eb-9066-423986af6a95.png)

[2020-10-03 23:01] camelid commented on #849
I mean this: https://triagebot.infra.rust-lang.org/notifications?user=camelid

For example, [you have](https://triagebot.infra.rust-lang.org/notifications?user=jyn514) 622 notifications, and I'm guessing you don't want to manually [`ack <idx>`](https://forge.rust-lang.org/platforms/zulip/triagebot.html#issue-notifications) for each one :)

[2020-10-03 23:02] camelid commented on #821
Or you can use the newly-stable [`gh`](https://cli.github.com/) tool!

[2020-10-03 23:06] jyn514 commented on #849
Oh wow, I didn't know that page existed. Is that documented somewhere?

[2020-10-03 23:08] camelid commented on #849
https://forge.rust-lang.org/platforms/zulip/triagebot.html#issue-notifications

[2020-10-04 22:05] #849 closed

[2020-10-06 23:38] camelid opened #884 "Add `who is ...` Zulip command to ask triagebot who someone is"
For example:

Data could be pulled from rust-lang/team, and triagebot already has GitHub and Zulip permissions.

@rustbot modify labels: enhancement

[2020-10-08 22:43] tmandry opened #892 "Make label a one-word command"
I tend to find `@rustbot modify labels to` unwieldy, both to remember and type. At this point I've typed it enough times that I probably won't forget, but I remember having to look up docs several times to remember the incantation I'm supposed to use.

I think `@rustbot label +foo` is just as self-explanatory and easier to remember.

Could we add this as a synonym?

[2020-10-08 23:37] Mark-Simulacrum commented on #892
I would be happy to take a PR, should be a matter of modifying https://github.com/rust-lang/triagebot/blob/master/parser/src/command/relabel.rs#L130.

[2020-10-21 04:13] JohnTitor opened #920 "Implement a way to exclude PRs/issues in autolabeling"
So, the wg-prioritization usually doesn't prioritize PRs. But autolabeling adds the labels regardless of issues/PRs.
It'd be great if we could exclude PRs (for this purpose, excluding issues is unnecessary but it should be done in the same PR easily) in the config, I think.

[2020-10-21 22:33] apiraino commented on #920
adding an example for context: https://github.com/rust-lang/rust/issues/78151 has been wrongly pulled into this [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2378151.20Disable.20MatchBranchSimplification)

[2020-10-21 23:53] camelid opened #925 "Add a triage queue in Zulip"
We have over 6,000 open issues on rust-lang/rust, and likely some of them have
been fixed or are irrelevant by now. Therefore, I'm proposing a feature that
creates a queue of old issues in Zulip, adding a few every day. The stream would
likely be something like `t-release/triage/queue`. Once someone looks at an
issue, they'll write something in the Zulip stream like `@triagebot triage
#<issue-numb

[2020-10-30 20:43] camelid commented on #892
@rustbot claim

[2020-11-05 09:37] kellda commented on #166
What is the use case of this command ?

[2020-11-05 10:04] kellda commented on #19
Who should be allowed to close issues or PRs with this command ?

[2020-11-05 12:52] Mark-Simulacrum commented on #19
I think we will want to limit it to authenticated users to start, the is_team_member function IIRC.

[2020-11-11 14:36] #19 closed

[2020-11-13 10:31] kellda commented on #821
What about https://docs.github.com/en/free-pro-team@latest/github/administering-a-repository/about-merge-methods-on-github#squashing-your-merge-commits ? (GitHub allows to squash commits while merging)

[2020-11-13 10:40] pietroalbini commented on #821
We need to merge PRs through @bors, we can't use the merge button on rust-lang/rust.

[2020-11-13 22:38] kellda commented on #821
cc servo/homu#70

[2020-11-16 18:52] pietroalbini opened #985 "Reply with an error message if the wrong username is pinged"
Triagebot uses @rustbot on GitHub and `@triagebot` on Zulip, and it could happen that someone pings `@triagebot` on GitHub by mistake. If triagebot detects a `@triagebot` ping on GitHub with a valid command, an error message should be posted to alert the user they pinged the wrong bot.

[2020-11-16 19:04] camelid commented on #985
It seems to me that it might be tricky to only respond to `@triagebot` if there was a valid command – it seems to me that we should always respond to `@triagebot`, at least on repos that have it enabled.

[2020-11-16 19:08] Mark-Simulacrum commented on #985
I think we should just accept either and not complain. In the future if it becomes a problem (e.g. the owner of the triagebot account reaches out) we can alter that behavior.

[2020-11-16 19:15] camelid commented on #985
I was thinking of suggesting that, but I thought you might think that was a bad idea :)

I do feel concerned that anytime that user is pinged someone will get an error from rustbot :/. Personally I think complaining is the best option because it points people clearly to the right way of doing it. People don't use the wrong name too often, so it's not a big deal to have them try again.

But I think

[2020-11-16 19:17] Mark-Simulacrum commented on #985
Ultimately triagebot doesn't listen outside the rust-lang org and the repos in there will tend to all enable it, so I don't think that's all that important.

I think just doing what people ask is better than forcing a retry (that might get missed in notifications etc). I don't really see it as important that people get it right for the time being.

[2020-11-16 19:20] camelid commented on #985
Oh, I didn't realize that. I think accepting `@triagebot` is fine then.

[2020-11-19 00:32] #892 closed

[2020-11-23 02:15] #985 closed

[2020-11-28 13:21] #701 closed

[2020-12-01 04:17] thomcc opened #1020 "compiler-team MCP zulip stream never created"
I filed https://github.com/rust-lang/compiler-team/issues/390, and I gather that some robot (presumably this robot) is supposed to create a zulip stream as a result. I ended up [doing this myself](https://rust-lang.zulipchat.com/#narrow/stream/233931-t-compiler.2Fmajor-changes/topic/Uplift.20the.20.60invalid_atomic_ordering.60.20lint.20from.20clippy), which seems suboptimal.

I [asked about it](ht

[2020-12-01 14:52] Mark-Simulacrum commented on #1020
d32e6a9923412144d0efa84e6640c0ecbca66eb9 should hopefully fix this; it is still deploying though. Once it's done I'll try and test it out.

[2020-12-01 18:28] kellda commented on #821
I implemented this in @bors (rust-lang/homu#122) because it already has a local git clone and is performing the merge. Is this still wanted in triagebot ?

[2020-12-01 18:30] Mark-Simulacrum commented on #821
I think the homu support is great but I am a bit wary of r+'ing PRs that are then going to get squashed by homu at a later point. But generally I think support in homu is probably enough, so I'm going to close this. We can reopen if there's problems with the homu support at some point.

[2020-12-09 05:10] camelid commented on #1020
Has this been resolved?

[2020-12-09 11:30] Mark-Simulacrum commented on #1020
I have not had the time to test it.

[2020-12-23 22:59] jyn514 opened #1066 "Triagebot checks if setting a label is allowed before checking if it exists"
Labels are public, so there's no point to this, and it makes the errors harder to read.

*Originally posted by @rustbot in rust-lang/rust#76447 (comment), then reported at https://github.com/rust-lang/homu/issues/130 because there are too many bots and they are taking over the rust organization.*

[2020-12-23 23:38] Mark-Simulacrum commented on #1066
Happy to accept a PR, otherwise it'll probably go into backlog :)

[2021-02-04 19:51] camelid opened #1162 "Update `libs-impl` to `T-libs-impl`"
The label was renamed recently. (cc rust-lang/rust-forge#506)

@apiraino expressed interest in updating uses in triagebot, so @rustbot assign @apiraino.

[2021-02-04 20:09] apiraino commented on #1162
@rustbot claim

[2021-02-18 15:22] Mark-Simulacrum opened #1184 "Auto-nominate PRs for beta backport"
We should nominate PRs for backport if any of the following are true:
* Description mentions a issue which is labeled as regression-from-stable-to-beta
* Description mentions a issue which is milestoned with the beta version number

[2021-02-18 17:46] apiraino commented on #1162
closed by https://github.com/apiraino/triagebot/commit/7cb4d13e4c6244fe02c051bed7e68d888e432cfc

[2021-02-18 22:41] camelid commented on #1162
👍

[2021-02-18 22:41] #1162 closed

[2021-03-06 04:47] camelid opened #1228 "Zulip topic is only renamed for messages after MCP issue rename occurs"
It happened [here](https://rust-lang.zulipchat.com/#narrow/stream/233931-t-compiler.2Fmajor-changes/topic/Lang.20Item.20for.20Transmutability.20compiler-team.23411/near/228833214). triagebot renamed the topic of the "renaming this Zulip topic" message, which effectively splits the topic in two, when it should have renamed the topic of the original "new proposal" message.

The code that is responsi

[2021-03-06 04:50] camelid commented on #1228
See also #706, which was another way to approach #701.

[2021-03-06 04:50] camelid commented on #1228
@rustbot label: bug

[2021-03-08 06:17] henryboisdequin opened #1235 "If a PR closes/fixes a issue, automatically label the PR with the same labels as the issue"
Very commonly, the same labels apply for an issue, and PR which fixes/closes it. By automatically labeling a new PR which fixes/closes an issue with the same labels, we can prevent doing this manually.

E.g. preventing this https://github.com/rust-lang/rust/pull/82887#issuecomment-792496923

[2021-04-29 19:43] kinnison opened #1331 "Difficulty enabling triagebot on rustup repository"
We're trying to enable support for `@rustbot` particularly for labelling things in the Rustup repository.  We added a `triagebot.toml` file to the top level, but the bot seems to ignore us (e.g. https://github.com/rust-lang/rustup/issues/2733#issuecomment-829530565)

Are we missing a web hook?  If so it's not documented in the wiki :(  If not, what else can we do to help debug/enable this?

cc @Ma

[2021-04-29 20:00] Mark-Simulacrum commented on #1331
triagebot needs to be added to the permissions; I've done so now and updated the wiki to reflect this. Thanks!

[2021-04-29 20:00] #1331 closed

[2021-05-04 15:29] joshtriplett opened #1339 "`@rustbot ready` alias to switch to waiting on review?"
I would love to see simpler invocations that we can recommend to PR authors, that handle switching the various "waiting on" labels.

[code]

Also, could we define sets of mutually exclusive labels, such as the various "waiting on" labels, so that you only have to add one and the bot will automatically remove others?

[2021-05-04 15:54] jyn514 commented on #1339
I really want `S-waiting-on-help` for situations where *technically* it's waiting-on-author but realistically that won't happen without outside input.

[2021-05-04 15:56] Mark-Simulacrum commented on #1339
I at least only regularly look at waiting-on-review; any other state is likely to get entirely lost. I think it's reasonable to ask the reviewer to take point at either reassigning or identifying and pursuing that help.

[2021-05-05 15:39] nikomatsakis opened #1341 "allow queries to operate on multiple repositories at once"
The [lang-team agenda report](https://github.com/rust-lang/triagebot/blob/master/src/bin/lang-agenda.rs) currently includes nominated items from rust-lang/reference, rust-lang/rust, and rust-lang/rfcs:

https://github.com/rust-lang/triagebot/blob/977a5b6ab86f3b8988ecf0ae2bb0e2e69f21e441/templates/lang_agenda.tt#L34-L36

https://github.com/rust-lang/triagebot/blob/977a5b6ab86f3b8988ecf0ae2bb0e2e69f

[2021-05-05 15:42] nikomatsakis opened #1342 "extend lang team triage report to include all open PRs on the lang-team repository"
The [lang-team agenda report](https://github.com/rust-lang/triagebot/blob/master/src/bin/lang-agenda.rs) should include open PRs on the lang-team repository, and not just the design-meeting issues and things.

This requires adding a new query sort of like this one, but with `"is:pr"`:

https://github.com/rust-lang/triagebot/blob/977a5b6ab86f3b8988ecf0ae2bb0e2e69f21e441/src/agenda.rs#L520-L528

and

[2021-05-05 15:44] nikomatsakis opened #1343 "lang team: embed OP and contributors into the report"
For each nominated issue, we should include the contents of the OP along with a list of all commentors and contributors. This is useful context for the meeting, and we intend to make other changes that amend the OP so that it would include a good summary of what's going on (see [design gist](https://gist.github.com/nikomatsakis/14fcdef56aa176e8ce6e9e323be8dc11) and [project board](https://github.c

[2021-05-06 18:46] sladyn98 commented on #1341
https://github.com/sladyn98/triagebot/tree/multiple-repo-query
Added just the vector for the repos, are we iterating over the repos for the `call` method ?

[2021-05-07 16:50] nikomatsakis commented on #1341
@sladyn98 right! I think we should apply the same query to each repo in the list. Note that you will have to modify the folks who create those structs to use `vec!["foo"]`

[2021-05-07 19:26] sladyn98 commented on #1341
@nikomatsakis Yeah makes sense, just so that I I understand it correctly

[code]
In this line for instance we would now be iterating over the `repos` vector and so the folks creating the `Query` struct would need to now use a particular index of the repo ?

[2021-05-10 17:35] spastorino commented on #1341
@nikomatsakis @sladyn98 is there any reason you don't want to follow the same approach the prioritization wg is following?. https://github.com/rust-lang/triagebot/blob/master/src/agenda.rs#L83-L86

Basically push a new `Query` to the actions list.

[2021-05-11 14:45] nikomatsakis commented on #1341
Another alternative would be to make a macro for declaring the queries as well; I considered that.

[2021-05-11 15:30] apiraino commented on #1341
(apologies, just saw this thread now after Santiago's ping)

The only (perhaps meaningful) difference I can spot after a quick look at the code is that there are two blocks of queries: one that get the full Github issue body and another that just counts issues.
If I understand correctly, the intent expressed is to conflate in a single iteration all queries, correct? In this case I /think/ it can b

[2021-05-21 08:31] nikomatsakis commented on #1343
@spastorino do you think you could add some quick mentoring notes to this issue? I think that @sladyn98 would be up to tackle it, but they could likely use a bit of guidance.

[2021-05-21 08:31] nikomatsakis commented on #1342
@rustbot assign @sladyn98

[2021-05-24 21:17] jyn514 commented on #1339
Duplicate of https://github.com/rust-lang/triagebot/issues/553.

[2021-05-25 15:52] sladyn98 commented on #1342
Great @nikomatsakis I am on it

[2021-05-25 18:04] spastorino commented on #1343
@sladyn98 I'd try to mention a couple of things that come to my mind but please do not hesitate to ask questions here or in [Zulip](https://rust-lang.zulipchat.com/).

You should start on `src/agenda.rs` in the `lang` function, I think you would need to add a new `QueryKind` variant which would be the one that describes this new use case, then check how each `QueryKind` is treated and add a implem

[2021-05-25 20:43] nikomatsakis commented on #1339
I think this is a great idea. I find maintaining these labels pretty tedious. I'd be happy to help mentor someone here. I'm going to leave some notes.

[2021-05-25 23:27] Llandy3d commented on #1339
@rustbot claim

[2021-05-26 19:09] nikomatsakis commented on #1339
I would also like the bot to pay attention to GH reviews. Here is what I would suggest:

* when the assigned reviewer leaves a GH review, if it is "changes requested", we should change the state of "waiting on author" (and leave a comment to that effect)
* add a `@rustbot ready` command to change the review to `S-waiting-on-reviewer` and probably add a comment pinging the assigned reviewer

The qu

[2021-05-26 23:40] nikomatsakis commented on #1339
I'm thinking about the first part first -- the GH review with "changes requested". My *guess* is that this trigger a notification?

If so, I guess we want to edit this function:

https://github.com/rust-lang/triagebot/blob/67f108c7d5e6d808d16f5c29b2f4b9649af72e9d/src/handlers/notification.rs#L16

[2021-05-29 01:04] Llandy3d commented on #1339
After a first analysis, if we would want to support simpler single word abbreviations, from the example above `ready` & `author` for switching labels, we could create a `shortcut.rs` handler to keep it open for more additions down the line, what do you think ?

I also wonder if it would be better for the GH review section to be its own issue since the two are different in scope :thinking:

[2021-05-31 21:25] steffahn opened #1372 "Assign labels with spaces"
[relevant Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/122651-general/topic/A.20way.20to.20self-label.20soundness.20issues.3F) ([in the archive](https://zulip-archive.rust-lang.org/122651general/88362Awaytoselflabelsoundnessissues.html))

On my quest to find a way to self-label `I-unsound 💥` I’m getting the feeling that rustbot doesn’t offer any way at all to set labels that co

[2021-06-02 13:42] nikomatsakis commented on #1339
@Llandy3d that makes sense to me, yes

[2021-06-02 13:44] nikomatsakis opened #1373 "change PR to "waiting on author" after "changes requested" review"
It would be useful if rustbot changed the status of a PR to `S-waiting-on-author` after observing a "changes requested" review from the assigned reviewer.

Branched out from https://github.com/rust-lang/triagebot/issues/1339

[2021-06-02 13:44] nikomatsakis commented on #1339
Just filed https://github.com/rust-lang/triagebot/issues/1373

[2021-06-02 13:44] Mark-Simulacrum commented on #1339
No, the handlers are per-function, that is, for this feature it likely makes sense to either:

* Add to the relabeling handler (I wouldn't do this)
* Create a new handler that handles the relevant events

It's likely that the github review is not too well integrated into our processing right now, so that may need some modifications to the github.rs file to parse the webhook events (at least adding

[2021-06-03 14:59] nikomatsakis commented on #1372
I'm tempted to say the problem is the label name :)

[2021-06-03 15:00] nikomatsakis commented on #1372
Or, alternatively, maybe we could load the labels and strip off trailing emojis and whitespace? it'd be nice if you could just type `I-unsound`.

[2021-06-03 16:04] steffahn commented on #1372
The label was already renamed ;-)

[2021-06-03 16:06] steffahn commented on #1372
Might be useful to do the whitespace+emoji stripping if there is demand for having the 💥 back.

[2021-06-05 01:35] nikomatsakis commented on #1372
Seems like we can close this issue, then?

[2021-06-05 06:36] steffahn commented on #1372
I suppose we can.

[2021-06-05 06:36] #1372 closed

[2021-06-15 16:41] nikomatsakis opened #1396 "lang team: include assigned people when listing issues"
The lang team template currently lists the title of each issue and a link to it, but it'd be nice to include who is assigned, as well.

[2021-06-23 19:26] #1373 closed

[2021-07-06 17:01] nikomatsakis opened #1425 "metadata for rfc bot"
It would be great if, for every RFC that gets opened, the rustbot added the following:

* Submits a suggestion that edits the RFC text to include the correct RFC number
* Rename the file
* Creates a rendered link

[2021-07-06 17:01] nikomatsakis commented on #1425
cc @joshtriplett

[2021-07-07 18:35] nikomatsakis commented on #1341
Done!

[2021-07-07 18:35] #1341 closed

[2021-07-07 18:43] nikomatsakis opened #1427 "add "rustbot note" command to amend OP with notes"
I would like to have a `@rustbot note x` command used like:

[code]

This command will add a link to the OP like

[code]

This can be used to allow people to add comments or other significant notes.

[2021-07-07 19:56] Mark-Simulacrum commented on #1427
I'd like to put the summary in a block quote or only support a few keywords (e.g., summary, nomination-{team}) to avoid accidentally adding a vector to run privileged commands. Not sure if we handle that too well right now, but this seems like an easy thing to address.

[2021-07-09 16:11] spastorino commented on #1342
@sladyn98 are you up to implement this one? if so, let me know how can I help with it?

[2021-07-09 16:31] nikomatsakis opened #1431 "add a nomination command"
I would like to have a command that looks like this:

[code]

where `team` can be whichever team, but perhaps it starts as just `lang`. I think what I would like this command to do is:

* Check that the user has specified a team and included some non-empty nomination text. If they have not, then give them a response and direct them to a page that explains how to nominate. This probably requires so

[2021-07-20 23:29] spastorino commented on #1342
@nikomatsakis I didn't understand if you want all PRs to lang-team or the ones that include `major-change` and exclude `charter-needed`. If you want all the PRs, those already show up in the agenda and this issue can be closed but if you want all the ones with `major-change` and without `charter-needed` it needs to be implemented. Let me know and I can quickly provide a fix for this.

[2021-07-22 20:04] spastorino commented on #1431
Related to https://rust-lang.zulipchat.com/#narrow/stream/224082-t-release.2Ftriagebot/topic/Last.20comment.20in.20topic

[2021-07-24 16:35] bstrie opened #1449 "The first time that a PR receives the "waiting-on-author" label, leave a comment explaining how the author can use rustbot to change the label back to "waiting-on-review""
Reviewers filter their lists of potential PRs to review based on the existence of the "waiting-on-review" tag. When a PR has been reviewed but is awaiting additional changes before it can be merged, the "waiting-on-review" label is removed and the "waiting-on-author" label is added. But most people submitting PRs don't realize that after making changes they have to signify this by changing the lab

[2021-07-24 16:36] bstrie commented on #1449
^ A demonstration of the potential hazards. :P

[2021-07-24 17:55] Mark-Simulacrum commented on #1449
I feel like this is a little noisy. Maybe we can just mention this on all PRs in the first comment highfive leaves?

If you put the command either in code or in a block quote triagebot should ignore it.

[2021-07-25 02:38] bstrie commented on #1449
That would at least help relative to the current situation, although I think it will be easy to overlook, especially since there will be a  gap between the first comment from highfive and the point in time where the label is applied.

[2021-07-25 02:59] Mark-Simulacrum commented on #1449
We can also have triagebot add a status to the github checks (e.g., like github actions) when the work is waiting on author as failing/pending. I don't think we should leave a comment which generates notifications and increases likelihood for "N hidden items" in github, but am open to alternatives.

[2021-07-27 02:43] camelid commented on #1449
Hmm, it seems confusing to me to use CI to communicate things other than the status of the code itself.

[2021-07-28 20:19] bstrie commented on #1449
On Zulip it was noted that Triagebot already keeps a database, so that unblocks the question of how this could be done and leaves only the question of whether it should be done.

[2021-08-28 17:22] ehuss opened #1468 "no zulip notifications"
I noticed that Zulip notifications have not been working this morning.

Config: https://github.com/rust-lang/rust/blob/84b018341284798fa47f8171f4eb04f18f45cf23/triagebot.toml#L115-L121
Topic: https://rust-lang.zulipchat.com/#narrow/stream/268952-edition-2021/topic/Edition.20Bugs
Example issues: https://github.com/rust-lang/rust/issues/88431 https://github.com/rust-lang/rust/issues/88429

[2021-08-28 17:47] Mark-Simulacrum commented on #1468
Caused by c0e3c8d8873fa22c389033a47abd78fdc56614b0 which made IssueRepository fail to deserialize from webhooks:

request failed: WebhookError(Issue failed to deserialize

Caused by:
    0: at Path { segments: [Map { key: "repository" }, Map { key: "owner" }] }
    1: invalid type: map, expected a string at line 1 column 6536)

cc @jackh726

Going to work on a fix now.

[2021-08-28 17:51] jackh726 commented on #1468
Oh. Hmm

[2021-08-28 18:07] jackh726 commented on #1468
@Mark-Simulacrum I can submit a fix for this right now if you don't have one

[2021-08-28 18:15] Mark-Simulacrum commented on #1468
@jackh726 please take a look at my pr, but I think it should fix this. Happy to consider alternatives though, not sure if my work breaks the graphql anywhere.

[2021-08-28 18:17] jackh726 commented on #1468
Looks good to me. Graphql types are generated directly from the schema so can't really break.

[2021-08-28 22:58] ehuss commented on #1468
Thanks so much for the fast response!

However, it doesn't seem to be working again.  There was one notification a little while after this was fixed, but I've filed two more issues since then which have not triggered anything: https://github.com/rust-lang/rust/issues/88442 and https://github.com/rust-lang/rust/issues/88444.  What's strange is that https://github.com/rust-lang/rust/issues/88440 mad

[2021-08-28 23:16] Mark-Simulacrum commented on #1468
Noted on Zulip as well but I think this *is* working, just the config requires C-bug applied to issues.

[2021-08-28 23:16] #1468 closed

[2021-09-01 01:43] Mark-Simulacrum opened #1483 "missing rustc commits"
We are not infrequently losing rustc commits from the database log. We should try to prevent this by auto-healing more reliably.

A query like `select parent_sha from rustc_commits where parent_sha not in (select sha from rustc_commits) and time > '2021-01-01';` against the database can give us the list of SHAs we're missing (potentially incomplete, but these should all definitely be in the DB). F

[2021-09-10 12:35] kellda commented on #1339
I think it has been fixed by #1381...

[2021-09-10 12:36] kellda commented on #553
I think it has been fixed by #1381...

[2021-09-10 16:27] #553 closed

[2021-09-12 22:49] kellda commented on #595
@rustbot claim. I'm now conviced that it is a big pitfall

[2021-09-15 16:12] #595 closed

[2021-10-06 01:05] tmandry opened #1509 "Allow wg members to add labels"
wg-async-foundations has an area lead who needs to be allowed to add labels (at least subsets of them like `AsyncAwait-*`, but I'd lean toward being more permissive, particularly with `D-*` labels).

Ideally, all wg members would be able to add `A-async-await`.

[2021-12-12 19:06] camelid opened #1535 "`trigger_files` doesn't seem to work when a PR is opened"
For example: https://github.com/rust-lang/rust/pull/91833

That PR was force-pushed here: https://github.com/rust-lang/rust/pull/91833#event-5753091480

Both the old and the new versions modified rustdoc, but only after the force-push did the PR get autolabeled:

![image](https://user-images.githubusercontent.com/37223377/145725845-9a95cd85-b022-44da-b5e5-69bf626ec65f.png)

@Mark-Simulacrum I susp

[2021-12-12 19:13] camelid commented on #1535
Actually, autolabeling just seems broken altogether; it just added `T-rustdoc` to #91819.

[2021-12-12 19:17] klensy commented on #1535
This https://github.com/rust-lang/rust/pull/91825#issuecomment-991880400 can be related?

[2021-12-12 19:18] camelid commented on #1535
No, that was fixed already.

[2021-12-12 22:50] Mark-Simulacrum commented on #1535
Okay, after some trial and error I think this is fixed on the current deploy; tests with force-pushes worked here https://github.com/rust-lang/rust/pull/72571#event-5753397775

I haven't tested opening a new PR yet -- but I think we can move ahead on rust-lang/rust#91819 at least.

[2021-12-12 22:51] camelid commented on #1535
PR approved :)

[2021-12-13 00:14] camelid commented on #1535
I just realized a potential issue that may come up with this feature: If rustbot incorrectly labels a PR with, e.g., `T-compiler`, then every time the PR is pushed to, the label will have to be manually removed. I imagine it won't be an issue too often in practice though.

[2021-12-13 00:41] Mark-Simulacrum commented on #1535
Without storing metadata in the database I'm not sure how much better we can do. It'd theoretically be pretty cheap to add the database state but I'm a little reluctant to introduce that complexity.

That said it would be relatively simple to check just the pre-sync commit, I suppose, to see if that was already enough that the label should have been added..

In general it doesn't seem worth it to

[2021-12-13 00:46] camelid commented on #1535
Yeah, I think we should only try to "fix" it if we run into issues.

[2021-12-13 01:55] camelid commented on #1535
Ok, I just opened [a new PR](https://github.com/rust-lang/rust/pull/91846) and the autolabeling didn't work. So I think there's still a bug in that part of the code.

Also, [highfive thinks I'm a new contributor](https://github.com/rust-lang/rust/pull/91846#issuecomment-992038870) for some reason?

[2021-12-13 02:22] Mark-Simulacrum commented on #1535
IIRC, this is based on the last ~100 PRs or something like that? Not sure.

Yeah, seems so. Looking at that particular event, it looks like we .. just didn't deserialize the pull_request field. I think that's another case of serde not having compile-time duplicate detection, pull_request was already alias'd to the issue field. Pushing a fix shortly.

[2021-12-13 21:46] camelid commented on #1535
Fix confirmed to work: #91876

[2021-12-13 21:47] camelid opened #1537 "`trigger_files` removes labels added by user as part of PR creation"
I added some labels as part of the PR creation flow, but rustbot removed them when it added `T-rustdoc`: https://github.com/rust-lang/rust/pull/91876#event-5760005621

[2021-12-13 22:34] Mark-Simulacrum commented on #1537
Distributed systems problem, I suppose. The github side event log shows:

[code]

Triagebot logs (edited to strip details) show (note, UUIDs here are triagebot, not expected to match those generated by GitHub).

[code]

Both logs are ordered "oldest" to "newest", i.e., last event is latest event.

I think the likely fix here is to migrate to the new(?) API GitHub offers for *adding* labels, rather

[2021-12-13 22:36] Mark-Simulacrum commented on #1535
https://github.com/rust-lang/rust/pull/89831#event-5760128523 has T-rustdoc being added spuriously(?)

[2021-12-13 22:55] Mark-Simulacrum commented on #1535
That generated an event with before/after commits of rust-lang/rust@62e7bcd41fed2bd7f29e66498d51d5519f12ca74 and rust-lang/rust@314027bb8fe084f7a21268dc743505c0f4f5b2c5, which had an intermediate rebase over a bunch of commits.

Direct comparison https://github.com/rust-lang/rust/compare/62e7bcd41fed2bd7f29e66498d51d5519f12ca74...314027bb8fe084f7a21268dc743505c0f4f5b2c5 produces a diff that contai

[2021-12-13 23:54] Mark-Simulacrum commented on #1537
OK, filed #1540 which should close this issue. Really a nice cleanup regardless.

[2021-12-14 00:01] Mark-Simulacrum commented on #1535
I suspect the immediate fix here is to use base/head always, not try to only apply labels on the just-pushed changes. It does mean we get more accidental labeling per https://github.com/rust-lang/triagebot/issues/1535#issuecomment-992000852, but my guess is not *significantly* more, so I'm not too worried by it. Pushed a commit up to https://github.com/rust-lang/triagebot/pull/1540 to do this.

[2021-12-14 00:11] #1537 closed

[2021-12-14 00:57] #1535 closed

[2022-01-10 11:41] bjorn3 opened #1551 "@rustbot ready comment ignored"
At https://github.com/rust-lang/rust/pull/92461#issuecomment-1008792592 I tried to use `@rustbot ready`, but rustbot didn't respond.

[2022-01-10 11:42] #1551 closed

[2022-01-14 18:01] fee1-dead opened #1560 "Alias errors when used as `@rustbot author: xxx`"
Found in https://github.com/rust-lang/rust/pull/92892#issuecomment-1013335278, I wanted to write what exact parts are waiting on author so I wrote `@rustbot author: xxx` which caused an error.

[2022-01-14 20:16] camelid commented on #1560
FWIW, you can just write the explanation on a separate line, though I suspect you're opening this issue because you think the `:` style should be supported too :)

[2022-01-20 23:33] chazkiker2 commented on #1427
@rustbot claim

[2022-02-02 01:18] chazkiker2 opened #1571 "`@rustbot note`: Allow user to directly edit the summary/note section"
Ideally, a user would be able to manually edit the Summary Note section within the issue body and triagebot would correctly update its data nested within the data comment (``)

[2022-02-02 01:19] chazkiker2 opened #1572 "`@rustbot note`: Allow for multiple note entries in the same comment"

[2022-02-02 01:23] chazkiker2 opened #1573 "interactions: Stop duplicating TRIAGEBOT section comments if user edits underneath initial comments"
- If a user puts new notes under a pre-existing ` ... `, triagebot starts a new section for the `EditIssueBody`.
- It seems like this is probably a bug in `interactions.rs`.  It should be possible to look at just the section between the triagebot start/end comments I think, not sure how hard that would be.

Here's a screen cast of this bug and a link to a demo issue https://github.com/chazkiker2/t

[2022-02-08 20:57] #1427 closed

[2022-02-09 04:56] chazkiker2 opened #1579 "`@rustbot note`: Move summary section to first comment when rust-highfive already posts a first comment"
Discussions around this issue first took place in #1562

 - https://github.com/rust-lang/triagebot/pull/1562#issuecomment-1027199622

- https://github.com/rust-lang/triagebot/pull/1562#issuecomment-1027205085

- https://github.com/rust-lang/triagebot/pull/1562#issuecomment-1027597912

[2022-02-09 05:09] chazkiker2 opened #1580 "`@rustbot note`: Deleting the summary comment (or `rustbot note` call in comment)"
A potential edge case for the note comment: what if a user deletes a summary comment (either by deleting the comment itself or simply removing the @rustbot note xxx portion of the comment—I assume we probably want to remove that entry from the summary section?

[2022-02-18 22:37] chazkiker2 commented on #1573
@rustbot claim

[2022-02-19 03:54] chazkiker2 commented on #1580
This feature will not be supported. see the conversation in #1584 for more details :)

[2022-02-22 18:09] chazkiker2 commented on #1572
@Mark-Simulacrum is this something we should be supporting? Or do we think it's appropriate to only contain one note per comment?

[2022-02-22 18:52] Mark-Simulacrum commented on #1572
I think we should try to support this -- I could see it being useful. If the impl is pretty easy (IIRC, we try to support this for some other commands, or maybe I just hoped that we would) -- then we definitely should, but I would not try to majorly refactor code to handle this case.

[2022-03-01 20:35] #1573 closed

[2022-03-13 19:29] skippy10110 commented on #1228
I was recently bit by this and ended up with 3 topics for my MCP. Thankfully the discussion didn't fork and stayed on the originally named topic.

I think this can be fixed by just using the ```change_all``` [propagate_mode](https://zulip.com/api/update-message#parameter-propagate_mode) when editing the topic. See also [Add API endpoint for renaming topics](https://github.com/zulip/zulip/issues/15

[2022-03-13 19:36] skippy10110 commented on #1228
Oh, I've posted my PR, but now I think I may have misunderstood this bug. Is the issue not that the "Zulip topic is only renamed for messages after MCP issue rename occurs", but instead that doing so breaks the links in the MCP?

[2022-03-13 19:41] #1228 closed

[2022-03-13 20:21] camelid commented on #1228
I think `change_all` didn't exist before.

[2022-03-15 17:28] nikomatsakis opened #1592 "lang agenda: include concerns and FCP notes"
One of the items in the lang-agenda dumps out the proposed FCPs:

https://github.com/rust-lang/triagebot/blob/bc415ec002845aa0c90a28df5457b666381769f2/templates/lang_agenda.tt#L46-L51

It would be awesome to include registered comments and the like.

[2022-03-17 00:29] chazkiker2 commented on #1592
as one who is less familiar with the lang-agenda goings-on, not 100% certain what you mean by registered comments.

would you be willing to clarify?

Given the following description, assuming it’s accurate, would I be correct to assume you mean the “preceding summary comments” that come before the FCP (described in the second sub-bullet)?

![C8A215C4-B6A9-4280-BD35-20FE6F3667C2](https://user-image

[2022-03-17 00:53] nikomatsakis commented on #1592
Ah, I somewhat mistyped. I meant *registered concerns*. But really I think what I would want to do is to reproduce (a) the summary comment and (b) the content of the FCP comment (which includes a set of checkboxes along with a set of registered concerns).

[2022-03-17 00:53] nikomatsakis commented on #1592
So as an example, reproducing the content of [this comment](https://github.com/rust-lang/rust/pull/93628#issuecomment-1029383585) would be a start; ideally we'd include [this comment too](https://github.com/rust-lang/rust/pull/93628#issuecomment-1029383577) to give more context.

[2022-03-17 01:00] Mark-Simulacrum commented on #1592
FWIW, having looked a little into this, it will likely require modifications to the rfcbot API -- it currently only exposes the Markdown of the FCP comment. Maybe it's enough to inline those, but IIRC one of the *additional* problems is that there's no way to ask the rfcbot API for issues which are under FCP for a particular team (though that information is presumably tracked somehow -- it's displ

[2022-03-17 01:02] Mark-Simulacrum commented on #1592
The API is https://rfcbot.rs/api/all, by the way -- it technically has the barebones of the right information (e.g., you can pull the comments Niko is looking for from it for sure), but I'm not sure if it's easy to pull everything from it. Maybe starting with what it has is a good first step though -- it's probably easier than doing upstream modifications first :)

[2022-03-17 14:35] nikomatsakis commented on #1592
@Mark-Simulacrum we know the set of issues already based on github labels, can we ask rfcbot for the markdown test for a particular issue? that'd be a good start.

[2022-03-17 15:31] Mark-Simulacrum commented on #1592
Not directly, but I think the rfcbot API does contain enough to find it from the full set -- probably a good approach.

[2022-03-22 00:23] chazkiker2 commented on #1592
Thanks for the clarifications, y'all. Familiarizing myself with this now.

Here's my current understanding.

- @nikomatsakis wants wants the lang agenda to output all proposed FCPs (which it currently does) but for each proposed FCP, include the following:
  - the content of the bot tracking comment (and presumably the link to said comment)
    - the comment ID  is available via [rfcbot.rs/api/all

[2022-03-22 00:26] chazkiker2 commented on #1592
Oh also... another outstanding question:

- @Mark-Simulacrum / @nikomatsakis  Since we're only trying to get *proposed* FCPs — am I correct in saying the way we'd get that from the [rfcbot.rs/api/all endpoint](https://rfcbot.rs/api/all) is to map through each FCP in that list and only pull the ones with `fcp.disposition == "merge"`?

[2022-03-22 00:29] chazkiker2 opened #1595 "introduce cron job support"
### Relevant Links

- Zulip Thread: [rustbot to do reminders
](https://rust-lang.zulipchat.com/#narrow/stream/242791-t-infra/topic/rustbot.20to.20do.20reminders)
- Zulip Thread: [Implementing new decision-making triagebot process](https://rust-lang.zulipchat.com/#narrow/stream/224082-triagebot/topic/Implementing.20new.20decision-making.20triagebot.20process)

[2022-03-22 11:19] nikomatsakis commented on #1592
@chazkiker2

The template actually lives in this repo! It is generated by `cargo run --bin lang-agenda` or something like that. The [template itself is here](https://github.com/rust-lang/triagebot/blob/master/templates/lang_agenda.tt) but the binary and wrapper is invoked here:

https://github.com/rust-lang/triagebot/blob/2a37c453c01f0d50d5266cab2318a729eb217f64/src/bin/lang.rs#L12-L13

which in t

[2022-03-22 11:20] nikomatsakis commented on #1592
I actually don't think you need to worry about that. The agenda is already identifying issues tagged with the appropriate team. We just want to add extra info for particular issues.

[2022-03-22 11:20] nikomatsakis commented on #1592
Yes. The issues tagged with T-lang are those that are waiting on a lang team decision.

 Typo, I meant "markdown *text*"

[2022-03-22 13:18] nikomatsakis commented on #1592
@chazkiker2

Right now, the list of issues is generated by querying github. I think that is working fine, so potentially we could just consult the RFC bot for particular issues, and not to generate the list itself, but I'm not sure how the API is setup. I also think it would be fine to consult the list -- the only catch is that some of the things in FCP, I realize, may be using the "rustbot second

[2022-03-23 02:34] chazkiker2 commented on #1592
@rustbot claim

[2022-03-27 15:47] Kobzol commented on #1483
I'll try to write up my understanding of the whole process, it could also serve as some basic
documentation for future reference.

So my understanding is that currently the `triagebot` stores Rust `master` commits into database
by listening for comments on PRs. If it finds a comment that is from `bors` and deals with a merge
into `master`, is gets the SHA from it, then it downloads data from GH ba

[2022-03-30 12:28] Mark-Simulacrum commented on #1483
by listening for comments on PRs. If it finds a comment that is from bors and deals with a merge
into master, is gets the SHA from it, then it downloads data from GH based on this SHA and stores
the data into the database.

Yep, this is correct.

be more difficult to find the corresponding PR from the push?

The comment gives us direct access to the PR number related to the merge, which works slig

[2022-03-30 12:59] Kobzol commented on #1483
I see, thanks for the explanation. It seems to me that the easiest way to go forward is to replace the current recursive search with the query that you have mentioned (or more like combine these two approaches). It should probably be done with some timeout or maximum number of tries to avoid "infinite" loops.

[2022-03-30 13:01] Mark-Simulacrum commented on #1483
That seems broadly correct to me; a background task or thread would likely work well, though some logging/upper bound is still a good idea I think.

[2022-04-12 17:07] Mark-Simulacrum opened #1599 "Publish meeting agenda online"
Currently lang and compiler agendas are generated by running the tooling locally, but that can mean a recompile and is generally heavier weight than just visiting a webpage. It should be pretty easy to move the entry points into the triagebot library (rather than lang-agenda...) and then serve them from the existing HTTP server.

Since they run a number of pretty rate limited GH queries, it's prob

[2022-04-13 09:03] apiraino commented on #1599
Some thoughts about the possible implications (please validate my assumptions because I'm not 100% sure):

- _moving_ the agenda generation online wouldn't allow me to test locally little tweaks that I might want to submit as future patches (ex. #1593). Being able to run the tool _both_ locally and online wouldn't remove this capability.

- Today, anyone generating T-lang and T-compiler agenda use

[2022-04-13 11:14] Mark-Simulacrum commented on #1599
We could still support running it locally, either via existing method directly or by running the site. I don't expect the story there to get significantly worse.

For the configuration use case, I expect we could expose that if desired (as a query param). It would mean more complicated caching, but not too much.

I'm not sure I understand the user access control angle - this is all querying public

[2022-04-13 11:14] #1592 closed

[2022-04-13 12:26] apiraino commented on #1599
agree on your comments :+1:  I'll just clarify this point I didn't explain too well:

by "user access control" I just meant that using a single shared server-side token would also share responsabilities. A user being rate limited (for any reason, not necessarily a bad actor) would block everyone using that token.

[2022-04-13 13:23] #1483 closed

[2022-04-14 13:47] jyn514 opened #1611 "Allow returning HandlerError::Message from command handlers"
Right now, errors in handlers are unconditionally treated as an internal error:
https://github.com/rust-lang/triagebot/blob/f8f6d205b73fd6ae18c7ecbb3b1879f90b615839/src/handlers.rs#L124
But this is not always the case; for example, telling triagebot to add an invalid label is a user error and should result in leaving a comment. Right now the only way to do so is to handle the error within `handle_

[2022-04-22 13:24] jackh726 opened #1613 "Add a `@triagebot read` command for zulip"
In many team meetings, there is often a doc everyone starts by reading. Usually someone manually adds the 📖 and ✅ emojis for people to click when they start and finish reading, respectively. It would be nice to just be able to do `@triagebot read`.

[2022-04-22 13:38] Mark-Simulacrum commented on #1613
This should mostly be a matter of replicating the existing end-topic/end-meeting support.

[2022-05-03 04:03] jyn514 opened #1614 "The "Ready" shortcut should work on pull request review comments"
Right now it only works on top-level comments, not review comments.

_Originally posted by @rustbot in https://github.com/rust-lang/rust/issues/96584#issuecomment-1115720413_

[2022-05-24 17:10] pnkfelix opened #1617 "lang team agenda generator: Scheduled meetings section broken"
lang team agenda generator: Scheduled meetings has been broken for a long time

[2022-05-26 13:10] ijackson opened #1618 "rustbot says to "Please let @rust-lang/release know" but doesn't say how"
I found a regression from stable to nightly.  I filed it.  I tried to set the regresson-from-stable-to-nightly tag, but the bot wouldn't let me.  I hoped someone else would do so.

Instead, time passed.  Now it is a regression from stable to beta.  @rustbot still says:

How should I let @rust-lang/release know?  I ended up reading the triagebot wiki and found the ping command, but rustbot won't le

[2022-05-27 10:23] apiraino commented on #1618
fair point.

I _think_ the suggestion is meant to have the user type what is suggested (example `@rustbot ping release`). However, by reading the [triagebot wiki](https://github.com/rust-lang/triagebot/wiki/Pinging), I think this behaviour needs to be enabled by editing the [triagebot.toml](https://github.com/rust-lang/rust/blob/master/triagebot.toml) and add something such as:
[code]
Not sure 100

[2022-05-27 11:23] Mark-Simulacrum commented on #1618
We should probably replace the text with either an issue on this repo or a ping in #t-infra on Zulip.

[2022-05-27 13:15] apiraino commented on #1618
or maybe both!  (note: Zulip ping requires an account, which not everyone might have)

[2022-06-21 22:56] Mark-Simulacrum commented on #1618
Closing as fixed - we now point to this repo and #t-infra on Zulip.

[2022-06-21 22:56] #1618 closed

[2022-06-27 22:11] apiraino commented on #1614
I'm trying to reproduce this on a local triagebot installation but so far no success.

@ehuss any suggestion? I see many occurrences of this in the rust-lang/rust pull requests but I'm blind since I don't have access to the logs (and we don't have a test repository, do we?)

[2022-06-27 22:29] Mark-Simulacrum commented on #1614
I believe this is fixed -- I added logic but failed to close this issue (probably due to not knowing about it) to resolve this in https://github.com/rust-lang/triagebot/pull/1619.

[2022-06-27 22:29] #1614 closed

[2022-06-27 22:31] Mark-Simulacrum commented on #1599
This is done for lang agendas; those are currently rate limited to 1 request every 30 seconds, which is enough to prevent problems on the github side. I don't think this causes any difficulty for regular usage of the endpoint, though we don't have metrics in place to validate that assumption (probably good to add them).

For now, I think this is basically done; we can extend it with compiler agend

[2022-06-28 07:30] apiraino commented on #1599
Cool! w.r.t. the rate limiting issue incurring in the T-compiler agenda I have a log of all the REST traffic performed. I'd like to investigate if moving some of them to the github GraphQL endpoint would help reducing the number of calls.

[2022-06-28 07:46] apiraino commented on #1614
oh. Now I see :)

[2022-06-29 16:16] apiraino commented on #1613
I'll give a stab at this

@rustbot claim

[2022-06-29 20:20] #1613 closed

[2022-07-03 05:48] JohnTitor opened #1634 "label names handled by the shortcut command should be configurable"
Currently the label names handled by the shortcut command are hardcoded:

https://github.com/rust-lang/triagebot/blob/a2ae093f52e39cd051df4340b68a752f77464c9c/src/handlers/shortcut.rs#L29-L31

That would enforce other repos to use the exact same names, but that restriction shouldn't be necessary and we should be able to change them as we want.

[2022-07-03 12:16] Mark-Simulacrum commented on #1634
Happy to see a PR changing this, so long as we preserve the defaults (at least until rust-lang/rust updates its configuration with the right labels).

[2022-07-07 12:43] Mark-Simulacrum opened #1635 "Scheduled events: actions in X minutes/days/hours"
I believe this is somewhat distinct from https://github.com/rust-lang/triagebot/issues/1595, which is more about regularly scheduled events (e.g., every Monday at 1pm ET) -- supporting cron jobs is likely somewhat easier than scheduled events, since we can hardcode checking into triagebot and avoid a database entirely most likely. (Modulo triagebot rebooting at inopportune times). It may be that w

[2022-07-08 05:33] chazkiker2 commented on #1635
Seems like a pretty solid game plan :). I will certainly run into questions throughout implementation (esp. cuz I haven't worked with the DB on the rust front a whole lot)

If you were to theorize about how you'd want to split this up into PRs, what would you be thinking. If it was TMF, I'd imagine it'd look something like this...

- database layer (adding table/columns/lock)
- functionality for t

[2022-07-08 23:32] chazkiker2 commented on #1635
Sounds good. I will start working on this on Monday :)

[2022-07-15 22:32] chazkiker2 commented on #1635
@rustbot claim

[2022-07-17 12:38] RalfJung opened #1637 "Support for "silent" PRs?"
PRs like https://github.com/rust-lang/rust/pull/99368 cause a lot of premature pings -- it's just a perf experiment, we don't have to all know about that.

So maybe it should be possible to somehow tell triagebot to not do mentions for a particular PR? We have a special exception for rollups that does this I think, but other PRs might also want it. Ideally, if it turns out the perf experiment give

[2022-07-17 12:56] matthiaskrgr commented on #1637
Triagebot could ignore the pings as long as the ghost user is assigned and do the ping only once someone requests an actual reviewer via `r?` maybe?

[2022-07-17 13:00] RalfJung commented on #1637
I guess that would somewhat replicate the old "accidentally silent" system that highfive had.

However, for Miri PRs, I do like the rustbot pings so I don't have to do them. I guess it could do the pings both on `r?` and when it sees a bors message saying "commit blah has been approved"?

[2022-07-17 13:07] Mark-Simulacrum commented on #1637
I think using GitHub's draft PR status might be a good fit here. It won't prevent any interaction with bots (including bors, afaik) and seems like a reasonable "should be silent as an experiment that won't land" status. Also easy to notice and know to clear as an author, hopefully.

I think we may want a separate mechanism too (similar to special case for rollups), that's just indicative that this

[2022-07-17 20:00] ehuss commented on #1637
Turning off mentions for draft PRs sounds like a good idea to me. I posted #1638 to implement that.

Unfortunately I suspect most people won't know to use draft PRs for things like performance testing, so I'm not sure it will be particularly effective.  I also like the idea of not pinging on unassigned/ghost PRs, but it sounds like that won't work for Ralf's case.  I also suspect that any "don't m

[2022-07-17 20:26] RalfJung commented on #1637
Is it even possible to mark a PR as draft during creation (so that it applies for the initial pings)?

[2022-07-17 21:10] jyn514 commented on #1637
Yes, it shows up on the "Create Pull Request" button (there's a little drop-down that lets you pick "Create Draft Pull Request" instead).

[2022-07-22 13:24] RalfJung commented on #1637
Wow that is super well-hidden, even Ctrl-F "draft" does not find it. You have to basically know about it to be able to find it...

[2022-07-22 15:04] jyn514 commented on #1637
yeah, lots of github's ui is super unintuitive ... took me like a year to figure out that `y` gets you a permalink to the current line in the source

[2022-09-03 19:55] aDotInTheVoid opened #1644 "Messages not sent when cc is empty"
@aDotInTheVoid This seems to have broken mentions that don't have a `cc` field. There are some that are configured to post a message without mentioning any specific users. Can you take a look at posting a fix for that? I think the filter just needs to not filter when `cc` is empty.

_Originally posted by @ehuss in https://github.com/rust-lang/triagebot/issues/1641#issuecomment-1236188086_

[2022-09-04 14:36] #1644 closed

[2022-09-11 06:16] JohnCSimon opened #1651 "@rustbot ready and @rustbot author erroring out in a few cases"
on this PR: https://github.com/rust-lang/rust/pull/95696#issuecomment-1242892564

Tried using `@rustbot ready` shortcut to switch labels and got an error

I don't know what is different about this pull request that produces such an error.

Zulip:
https://rust-lang.zulipchat.com/#narrow/stream/242791-t-infra/topic/.40rustbot.20author.20not.20working

[2022-09-11 10:19] joboet commented on #1651
Another example: https://github.com/rust-lang/rust/pull/101442#issuecomment-1242932619

[2022-09-11 12:47] #1651 closed

[2022-09-21 23:20] cassaundra commented on #821
I'll start taking a look at this.

I'm curious if the required "allow edits from maintainer" option is enabled by default in GitHub's UI. It is for me, but that might be because that setting is saved between PRs.

[2022-09-22 00:02] Mark-Simulacrum commented on #821
I believe we can make an assumption that it is enabled for the purposes of this feature; if it's not, we will error (ideally in a nice way, perhaps providing instructions on what to do: e.g., the author pushing a given commit hash to their branch).

In terms of making this happen:

* https://github.com/rust-lang/triagebot/blob/master/parser/src/command/second.rs is a sample argument-less command,

[2022-09-22 00:49] cassaundra commented on #821
Sounds good. Thank you for the detailed outline.

[2022-09-30 13:24] rylev opened #1657 "Post Rollup Warnings"
When creating rollups some PRs are naturally riskier than others. If the rollup introduces bugs or performance issues it can be helpful to get a hint at what PRs might be causing an issue and which PRs can most likely be ignored.

With this in mind, I propose adding support to triagebot for listening for rollup PRs and posting a message with the results of inspecting how risking the rollup is. It

[2022-10-02 13:28] jyn514 commented on #1657
I'm not sure this is a useful metric ... a PR that changes that many files is probably mass-renaming a common function, which is actually quite safe. Lines of code is a *little* better, but can be fooled by the same sort of change - lines of code *within* a file is more reliable, but can be tricked by moving code from one file to another. I think this is going to be really hard to automate in any

[2022-10-20 00:18] faptc opened #1660 "Enforcing no-merge policy"
Whenever rustbot see a merge commit in a PR, it can notify the contributor about no-merge policy.

[2022-10-27 19:03] fmease opened #1662 "A case where rustbot assigned the PR author as the reviewer"
In rust-lang/rust#103648, rustbot assigned the PR author as the reviewer.
CC @jyn514

There appears to be some code specifically to avoid this problem but for some reason it did not succeed in this situation:

https://github.com/rust-lang/triagebot/blob/ca14859243a6f6dda123bf4d759392186c88b685/src/handlers/assign.rs#L630-L637

[2022-10-27 19:57] #1662 closed

[2022-10-28 01:28] ehuss commented on #352
With https://github.com/rust-lang/triagebot/pull/1656, I think this issue can be closed.

[2022-10-28 01:29] ehuss commented on #558
With https://github.com/rust-lang/triagebot/pull/1656, I think this issue can be closed.

If someone wants a more sophisticated load-balancing system, I think it would be good to open a separate issue for that with a specific proposal. There are some notes [here](https://github.com/rust-lang/triagebot/blob/d7c405b8c1067a94300c943cb4070de238b285c4/src/handlers/assign.rs#L582-L600) about some differ

[2022-10-28 04:36] faptc commented on #1660
Maybe resolved by 542f03df57cbaafa1de79e010a8bd723f9960607

[2022-10-28 04:36] #1660 closed

[2022-10-28 12:39] #352 closed

[2022-10-29 14:07] #1635 closed

[2022-11-03 13:46] fmease opened #1670 "rustbot thinks users with private activity are new contributors"
As seen in rust-lang/rust#102928 for example.

Edit: Wrong link, sorry, I am gonna find a better one.

[2022-11-03 13:48] #1670 closed

[2022-11-15 13:56] #558 closed

[2022-11-26 12:48] RalfJung opened #1674 "'r?' without auto-assignment"
In Miri I'd like to use `r?` but we don't currently want automatic assignment of PR reviewers. However, according to the [docs](https://github.com/rust-lang/triagebot/wiki/Assignment#pr-assignment):

Is there a way to enable `r?` comments without having an owners map?

[2022-11-26 14:12] ehuss commented on #1674
Not really. You can use `@rustbot assign @user` if you are an team member.

[2022-11-26 14:21] RalfJung commented on #1674
I guess that works, though `r?` is so much shorter, would be nice to also be able to use that.